<div class="repo-view repo-container">
 <div class="col-md-12 kanban-widget-styles repo-widget">
<div class="col-md-11 repo-widget-col-one">
    <div class="widget repo-widget-col-two">
        <div class="widget-sub-head sub-header-maindashboard repo-widget-sub-head">
            Commits Per Day
        </div>
        <div class="widget-body graph-bg-gradient">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Line"
                      chartist-data="repoView.commitChartData"
                      chartist-chart-options="repoView.commitChartOptions"
                      chartist-events="repoView.commitChartEvents"
                    >
            </chartist>
        </div>
    </div></div>
    <div class="">
    <div class="col-md-11 repo-below-container">
    <div class="widget repo-below-widget">
        <div class="widget-sub-head sub-header-maindashboard">
            Summary
        </div>
        <div class="widget-body repo-below-body">
            <table class="table repo-summary-table table-striped">
                <tr>
                    <td class="widget-inner-labels">TOTAL COMMITS</td>
                    <td class="repo-below-td">{{repoView.lastDayCommitCount}}</td>
                    <td class="repo-below-td">{{repoView.lastSevenDaysCommitCount}}</td>
                    <td class="repo-below-td">{{repoView.lastFourteenDaysCommitCount}}</td>
                </tr>
                <tr>
                    <td class="widget-inner-labels">CONTRIBUTORS</td>
                    <td class="repo-below-td">{{repoView.lastDayContributorCount}}</td>
                    <td class="repo-below-td">{{repoView.lastSevenDaysContributorCount}}</td>
                    <td class="repo-below-td">{{repoView.lastFourteenDaysContributorCount}}</td>
                </tr>
                <tr class="totals">
                    <td></td>
                    <td class="total-builds-label-props">Today</td>
                    <td class="total-builds-label-props">Last 7 Days</td>
                    <td class="total-builds-label-props">Last 14 Days</td>
                </tr>
            </table>
        </div>
    </div></div></div>
</div></div>