<div class="repo-view">
 <div class="col-md-12 kanban-widget-styles" style="background: #fff;padding-top: 16px;">
<div class="col-md-11" style="padding-right:0px;">
    <div class="widget" style="color:black;text-shadow: none;border-bottom: 1px solid #d6d6d6;">
        <div class="widget-sub-head" style="color:black;text-shadow: none;padding:3.7px;margin-bottom: 2.6%;font-size: 13px !important;">
            COMMITS PER DAY
        </div>
        <div class="widget-body graph-bg-gradient">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Line"
                      chartist-data="repoView.commitChartData"
                      chartist-chart-options="repoView.commitChartOptions"
                      chartist-events="repoView.commitChartEvents"
                    >
            </chartist>
        </div>
    </div></div>
    <div class="">
    <div class="col-md-11" style="padding-right:0px;">
    <div class="widget" style="color:black;text-shadow: none">
        <div class="widget-sub-head" style="color: black;
    text-shadow: none">
            SUMMARY
        </div>
        <div class="widget-body">
            <table class="table repo-summary-table table-striped">
                <tr>
                    <td class="widget-inner-labels">Total Commits</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastDayCommitCount}}</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastSevenDaysCommitCount}}</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastFourteenDaysCommitCount}}</td>
                </tr>
                <tr>
                    <td class="widget-inner-labels">Contributors</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastDayContributorCount}}</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastSevenDaysContributorCount}}</td>
                    <td style="font-size: 14px;
    font-weight: 600!important;">{{repoView.lastFourteenDaysContributorCount}}</td>
                </tr>
                <tr class="totals">
                    <td></td>
                    <td style="font-weight: 400 !important;">Today</td>
                    <td style="font-weight: 400 !important;">Last 7 Days</td>
                    <td style="font-weight: 400 !important;">Last 14 Days</td>
                </tr>
            </table>
        </div>
    </div></div></div>
    <div>
</div>