@import (reference) '../../../app/css/variables.less';
@import (reference) '../../../app/css/mixins.less';



.custom-width-col{
	width:20%;
}

.feature-widget-main {
    padding-top: 18px;
    .feature-widget-props {
        color: black;
        text-shadow:none;
        margin-bottom: 10px;
        .feature-widget-graph {
            min-height: 214px;
            .feature-widget-graph-header {
                margin-bottom: 2.6%;
            }
        }
    }
    .feature-widget-defect {
        padding-left: 10px;
        color: black;
        text-shadow:none;
        border-top:1px solid #d6d6d6;
        margin-bottom: 5px;
        .feature-widget-defect-header {
            padding-top: 20px;
        }
        .feature-widget-defect-body {
            padding-top: 7.7%;
            padding-bottom: 6%;
            .feature-widget-body-critical {
                padding-top: 3px;
                text-align: -webkit-center;
            }
            .feature-widget-body-other {
                text-align: -webkit-center;
                .feature-widget-body-padding {
                    padding-top: 9%;
                }
            }
        }
    }
}

.dashboard-page-error-view {
    padding:10px;
    color:#000;
}