<div class="feature-view">
    <!-- Scrum Widget -->
<!--     <div id="scrum-widget-view " class="col-lg-12 col-sm-12 animate-show" ng-show="ctrl.showStatus.scrum">
        <div class="widget widgetStyling" style="padding: 0px;
    color: black;text-shadow:none;">
            <div class="widget-body" style="padding-left: 2%">
                <div class="col-xs-9.5 text-standard-sm dash-overflow" style="color: #8c8c8c">
                    Project: <em style="color: #333333;font-style: normal">{{ctrl.projectName}}</em>
                </div>
               
            </div>

            <div class="widget-heading" style="padding:10px;color:black;text-shadow:none;">

                <div ng-repeat="iteration in ctrl.iterations">
                    <div class="col-xs-2.5 text-lg pull-right">
                        {{iteration.tilEnd}}
                    </div>
                    <div class="col-xs-9.5 text-lg dash-overflow feature-link" ng-if="iteration.url !== undefined && iteration.url !== null && iteration.url !== ''">
                        <a ng-href="{{::iteration.url}}" target="_blank">{{iteration.name}}</a>
                    </div>
                    <div class="col-xs-9.5 text-lg dash-overflow" ng-if="iteration.url === undefined || iteration.url === null || iteration.url === ''">
                        {{iteration.name}}
                    </div>
                </div>
            </div>

            <div class="widget-body" fit-text=".build-summary-count > span" fit-text-max="40">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="story-summary-count story-open" style="color: #ff4d4d">
                            <span ng-if="ctrl.critcissue">{{ctrl.critcissue}}</span>
                            <span ng-if="!ctrl.critcissue">0</span>
                        </div>
                        <div class="story-summary-type">Critical</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="story-summary-count story-wip" style="color: #ffa31a">
                            <span ng-if="ctrl.majorIssue">{{ctrl.majorIssue}}</span>
                            <span ng-if="!ctrl.majorIssue">0</span>
                        </div>
                        <div class="story-summary-type">Major</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="story-summary-count story-done" style="color: #1ac6ff">
                            <span ng-if="ctrl.medlowcnt">{{ctrl.medlowcnt}}</span>
                            <span ng-if="!ctrl.medlowcnt">0</span>
                        </div>
                        <div class="story-summary-type">Minor</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget widgetStyling" style="padding: 0px;
    color: black;text-shadow:none;">
            <div class="widget-body" ng-if="ctrl.listType === 'epics'">
                <div class="widget-heading" style="color:black;">Epics in Progress
                    <button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
                </div>
                <div class="dash-row" ng-repeat="epic in ctrl.epicStoryPoints | limitTo:ctrl.featureLimit">
                    <div class="pull-right">{{epic.sEstimate}}</div>
                    <div class="dash-overflow feature-link" ng-if="epic.sEpicUrl !== undefined && epic.sEpicUrl !== null && epic.sEpicUrl !== ''">
                        <a ng-href="{{::epic.sEpicUrl}}" target="_blank">{{epic.sEpicName}}</a>
                    </div>
                    <div class="dash-overflow" ng-if="epic.sEpicUrl === undefined || epic.sEpicUrl === null || epic.sEpicUrl === ''">
                        {{epic.sEpicName}}
                    </div>
                </div>

            </div>

            <div class="widget-body" ng-if="ctrl.listType === 'issues'">
                
                <div class="dash-row" ng-repeat="issue in ctrl.issueStoryPoints | limitTo:ctrl.featureLimit">
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'storypoints'">{{issue.sEstimate}}</div>
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'hours'">{{issue.sEstimateTime}}</div>
                    <div class="feature-link" ng-if="issue.sUrl !== undefined && issue.sUrl !== null && issue.sUrl !== ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                    </div>
                    <div ng-if="issue.sUrl === undefined || issue.sUrl === null || issue.sUrl === ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">{{issue.sName}}</div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">{{issue.sName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Kanban Widget -->
    <div id="kanban-widget-view" class="col-lg-12 col-sm-12 animate-show kanban-widget-styles feature-widget-main" ng-show="ctrl.showStatus.kanban">
        <div class="widget feature-widget-props">
            <div class="widget-body feature-widget-graph">


                <div class="col-md-12 sub-header-maindashboard feature-widget-graph-header">Velocity Chart</div>
                <div class="col-md-12">
                <c3-chart id="sprintdatasFeature" config="sprintdatasFeature" class="graph-bg-gradient" style="height: 180px;font-size: 11px;"></c3-chart>
                </div>
            </div>


        </div>
        <div class="widget feature-widget-defect">
            <div class="widget-body">
                <div class="col-xs-9.5 text-standard-sm dash-overflow sub-header-maindashboard feature-widget-defect-header">
                  Open Defects By Priority
                </div>
               
            </div>
<div class="widget-body feature-widget-defect-body" fit-text=".build-summary-count > span" fit-text-max="40">
                <div class="row">
                    <div class="col-xs-2 custom-width-col feature-widget-body-critical">
                        <div class="total-builds-text-props defects-by-priority-critical-border">
                            <span ng-if="ctrl.critcissue" style="">{{ctrl.critcissue}}</span>
                            <span ng-if="!ctrl.critcissue" style="">0</span>
                        </div>
                        <div class="font-props-main-dashboard" style="">HIGHEST</div>
                    </div>
                    <div class="col-xs-2 custom-width-col feature-widget-body-other">
                        <div class="total-builds-text-props defects-by-priority-major-border feature-widget-body-padding">
                            <span ng-if="ctrl.majorIssue">{{ctrl.majorIssue}}</span>
                            <span ng-if="!ctrl.majorIssue">0</span>
                        </div>
                        <div class="font-props-main-dashboard">HIGH</div>
                    </div>
                    <div
                     class="col-xs-2 custom-width-col feature-widget-body-other">
                        <div class="total-builds-text-props defects-by-priority-medium-border feature-widget-body-padding">
                            <span ng-if="ctrl.mediumIssue">{{ctrl.mediumIssue}}</span>
                            <span ng-if="!ctrl.mediumIssue">0</span>
                        </div>
                        <div class="font-props-main-dashboard">MEDIUM</div>
                    </div>
                    <div class="col-xs-2 custom-width-col feature-widget-body-other">
                        <div class="total-builds-text-props defects-by-priority-low-border feature-widget-body-padding">
                            <span ng-if="ctrl.lowIssue">{{ctrl.lowIssue}}</span>
                            <span ng-if="!ctrl.lowIssue">0</span>
                        </div>
                        <div class="font-props-main-dashboard">LOW</div>
                    </div>
                    <div class="col-xs-2 custom-width-col">
                        <div class="total-builds-text-props defects-by-priority-lowest-border feature-widget-body-padding">
                            <span ng-if="ctrl.lowestissue">{{ctrl.lowestissue}}</span>
                            <span ng-if="!ctrl.lowestissue">0</span>
                        </div>
                        <div class="font-props-main-dashboard">LOWEST</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Error View -->
    <div id="error-view" class="col-lg-12 col-sm-12" ng-hide="ctrl.showStatus.scrum || ctrl.showStatus.kanban">
        <div class="widget-heading dashboard-page-error-view">
            <div class="text-standard-sm text-warning">[No Active Iterations]</div>
        </div>
    </div>
</div>