

<div class="feature-view">
	<!-- Scrum Widget -->
	<div id="scrum-widget-view " class="col-lg-12 col-sm-12 animate-show" ng-show="ctrl.showStatus.scrum">
		<div class="widget widgetStyling" style="padding: 0px;
    color: black;text-shadow:none;">
			<div class="widget-body" style="padding-left: 2%">
				<div class="col-xs-9.5 text-standard-sm dash-overflow" style="color: #8c8c8c">
                    Project: <em style="color: #333333;font-style: normal">{{ctrl.projectName}}</em>
                </div>
                <!--<div class="col-xs-9.5 text-standard-sm dash-overflow" style="color: #8c8c8c">
                    Team: <em style="color: #333333;font-style: normal">{{ctrl.teamName}}</em>
                </div>-->
			</div>

			<div class="widget-heading" style="padding:10px;color:black;text-shadow:none;">
				<!--<div class="iteration-change-btn text-standard-sm">Iteration:
					<button id="next-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.animateAgileView(true)">>></button>
					<button id="pause-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.pauseAgileView()" ng-model="ctrl.pausePlaySymbol">{{ctrl.pausePlaySymbol}}</button>
				</div>-->
				<div ng-repeat="iteration in ctrl.iterations">
					<div class="col-xs-2.5 text-lg pull-right">
						{{iteration.tilEnd}}
					</div>
					<div class="col-xs-9.5 text-lg dash-overflow feature-link" ng-if="iteration.url !== undefined && iteration.url !== null && iteration.url !== ''">
                        <a ng-href="{{::iteration.url}}" target="_blank">{{iteration.name}}</a>
                    </div>
                    <div class="col-xs-9.5 text-lg dash-overflow" ng-if="iteration.url === undefined || iteration.url === null || iteration.url === ''">
                        {{iteration.name}}
                    </div>
				</div>
			</div>

			<div class="widget-body" fit-text=".build-summary-count > span" fit-text-max="40">
				<div class="row">
					<div class="col-xs-4">
						<div class="story-summary-count story-open" style="color: #ff4d4d">
							<span ng-if="ctrl.critcissue">{{ctrl.critcissue}}</span>
							<span ng-if="!ctrl.critcissue">0</span>
						</div>
						<div class="story-summary-type">Critical</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-wip" style="color: #ffa31a">
							<span ng-if="ctrl.majorIssue">{{ctrl.majorIssue}}</span>
							<span ng-if="!ctrl.majorIssue">0</span>
						</div>
						<div class="story-summary-type">Major</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-done" style="color: #1ac6ff">
							<span ng-if="ctrl.medlowcnt">{{ctrl.medlowcnt}}</span>
							<span ng-if="!ctrl.medlowcnt">0</span>
						</div>
						<div class="story-summary-type">Minor</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget widgetStyling" style="padding: 0px;
    color: black;text-shadow:none;">
			<div class="widget-body" ng-if="ctrl.listType === 'epics'">
				 <div class="widget-heading" style="color:black;">Epics in Progress
					<button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
				</div>
				<div class="dash-row" ng-repeat="epic in ctrl.epicStoryPoints | limitTo:ctrl.featureLimit">
					<div class="pull-right">{{epic.sEstimate}}</div>
					<div class="dash-overflow feature-link" ng-if="epic.sEpicUrl !== undefined && epic.sEpicUrl !== null && epic.sEpicUrl !== ''">
                        <a ng-href="{{::epic.sEpicUrl}}" target="_blank">{{epic.sEpicName}}</a>
                    </div>
                    <div class="dash-overflow" ng-if="epic.sEpicUrl === undefined || epic.sEpicUrl === null || epic.sEpicUrl === ''">
                        {{epic.sEpicName}}
                    </div>
				</div> 
				<!-- <c3-chart id="chart" config="config"></c3-chart>
				<div id="chart"></div> -->
			</div>
			
			<div class="widget-body" ng-if="ctrl.listType === 'issues'">
               <!--  <div class="widget-heading" style="padding:10px;color:black;text-shadow:none;">Issues in Progress
                    <button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
                </div> -->
                <div class="dash-row" ng-repeat="issue in ctrl.issueStoryPoints | limitTo:ctrl.featureLimit">
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'storypoints'">{{issue.sEstimate}}</div>
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'hours'">{{issue.sEstimateTime}}</div>
                    <div class="feature-link" ng-if="issue.sUrl !== undefined && issue.sUrl !== null && issue.sUrl !== ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                    </div>
                    <div ng-if="issue.sUrl === undefined || issue.sUrl === null || issue.sUrl === ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">{{issue.sName}}</div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">{{issue.sName}}</div>
                    </div>
                </div>
            </div>
		</div>
	</div>

	<!-- Kanban Widget -->
	<div id="kanban-widget-view" class="col-lg-12 col-sm-12 animate-show kanban-widget-styles" ng-show="ctrl.showStatus.kanban">



			<div class="widget" style="padding: 0px;
    color: black;text-shadow:none;">
			<div class="widget-body" style="min-height: 260px;">
				<!-- <div class="widget-heading" style="padding:10px;color:black;">Epics in Progress
					<button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
				</div>
				<div class="dash-row" ng-repeat="epic in ctrl.epicStoryPointsKanban | limitTo:ctrl.featureLimit">
					<div class="pull-right">{{epic.sEstimate}}</div>
					<div class="dash-overflow feature-link" ng-if="epic.sEpicUrl !== undefined && epic.sEpicUrl !== null && epic.sEpicUrl !== ''">
                        <a ng-href="{{::epic.sEpicUrl}}" target="_blank">{{epic.sEpicName}}</a>
                    </div>
                    <div class="dash-overflow" ng-if="epic.sEpicUrl === undefined || epic.sEpicUrl === null || epic.sEpicUrl === ''">
                        {{epic.sEpicName}}
                    </div>
				</div> -->

   <div class="col-md-12">Velocity Chart</div>
  <c3-chart id="sprintdatasFeature" config="sprintdatasFeature" style="height: 260px;font-size: 11px;"></c3-chart>

			</div>
			
			<div class="widget-body" ng-if="ctrl.listType === 'issues'" >
               <!--  <div class="widget-heading" style="padding:10px;color:black;text-shadow:none;">Issues in Progress
                    <button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
                </div> -->
                <div style="padding-left:10px;">
                <div class="dash-row" ng-repeat="issue in ctrl.issueStoryPointsKanban | limitTo:ctrl.featureLimit">
                    <!-- If ctrl.estimateMetricType === 'count', we don't display the estimate number since it doesn't make sense to display 1 against each issue -->
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'storypoints'">{{issue.sEstimate}}</div>
                    <div class="pull-right" ng-if="ctrl.estimateMetricType === 'hours'">{{issue.sEstimateTime}}</div>
                    <div class="feature-link" ng-if="issue.sUrl !== undefined && issue.sUrl !== null && issue.sUrl !== ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">
                            <a ng-href="{{::issue.sUrl}}" target="_blank">{{issue.sName}}</a>
                        </div>
                    </div>
                    <div ng-if="issue.sUrl === undefined || issue.sUrl === null || issue.sUrl === ''">
                        <div class="dash-overflow" ng-if="issue.sStatus !== 'done' && issue.sStatus !== 'accepted'">{{issue.sName}}</div>
                        <div class="dash-overflow issue-done" ng-if="issue.sStatus === 'done' || issue.sStatus === 'accepted'">{{issue.sName}}</div>
                    </div>
                </div></div>
            </div>
		</div>
		<div class="widget " style="padding-left: 10px;
    color: black;text-shadow:none;border-top:1px solid #d6d6d6;">
			<div class="widget-body">
				<div class="col-xs-9.5 text-standard-sm dash-overflow" style="color: #8c8c8c">
                    Project: <em style="color: #333333;font-style: normal">{{ctrl.projectName}}</em>
                </div>
                <!--<div class="col-xs-9.5 text-standard-sm dash-overflow" style="color: #8c8c8c">
                    Team: <em style="color: #333333;font-style: normal">{{ctrl.teamName}}</em>
                </div>-->
			</div>

			<div class="widget-heading" style="padding:0px;color:black;text-shadow:none;margin-bottom:0px;">
				<!--<div class="iteration-change-btn text-standard-sm">Iteration:
					<button id="next-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.animateAgileView(true)">>></button>
					<button id="pause-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.pauseAgileView()" ng-model="ctrl.pausePlaySymbol">{{ctrl.pausePlaySymbol}}</button>
				</div>-->
				<div ng-repeat="iteration in ctrl.iterationsKanban">
					<div class="col-xs-2.5 text-lg pull-right" style="font-size:12px;">
						{{iteration.tilEnd}}
					</div>
					<div class="col-xs-9.5 text-lg dash-overflow" style="font-size:12px;">
						<em>{{iteration.name}}</em>
					</div>
				</div>
			</div>

			<div class="widget-body" fit-text=".build-summary-count > span" fit-text-max="40">
				<div class="row">
					<div class="col-xs-4" style="padding-top: 3px;">
						<div class="story-summary-count story-open" style="margin-bottom: 0px;color: #ff4d4d;">
						<span ng-if="ctrl.critcissue">{{ctrl.critcissue}}</span>
							<span ng-if="!ctrl.critcissue">0</span>
						</div>
						<div class="story-summary-type">Critical</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-wip" style="margin-bottom: 0px;color: #ffa31a">
							<span ng-if="ctrl.majorIssue">{{ctrl.majorIssue}}</span>
							<span ng-if="!ctrl.majorIssue">0</span>
						</div>
						<div class="story-summary-type" >Major</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-wip" style="margin-bottom: 0px;color: #1ac6ff">
							<span ng-if="ctrl.medlowcnt">{{ctrl.medlowcnt}}</span>
							<span ng-if="!ctrl.medlowcnt">0</span>
						</div>
						<div class="story-summary-type" >Minor</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!-- Error View -->
	<div id="error-view" class="col-lg-12 col-sm-12" ng-hide="ctrl.showStatus.scrum || ctrl.showStatus.kanban">
		<div class="widget-heading" style="padding:10px;color:black;">
			<div class="text-standard-sm text-warning">[No Active Iterations]</div>
		</div>
	</div>
</div>
