<style>
   body {
   font-family: "Segoe UI";
   }
</style>
 <div class="container-fluid" style="
    background: #1766A4;
   
    margin-left: 0px;
    margin-right: 0px;min-height: 0px;">
  <div class="row justify-content-md-center" style="padding-top: 8px;padding-bottom: 6px;">
   <div class="col-md-1" style="padding-left: 2%;width: 5.33%"><img src="assets/images/emu-5w.png"></div>
    <div class="col-md-3" style="font-size: 17px;
    font-weight: 500;color: #fff;padding-top: 6px;">Engineering Metrics Unified</div>
    <div class="col-md-6"></div>
     <div class="col-md-1" style="color: #fff;direction: rtl;
    text-align: center;
    padding-left: 13.5%;padding-top: 8px;">{{detailess.usernamepro}}</div>
      <div class="col-md-1" style="width: 4.33% !important;padding-top: 4px">
          <div class="dropdown-logout sign-out-box-specs">
         <div class="abc">
      
            <img src="assets/images/Group 131.png" class="log-out-icon-size"></td>
         </div>
         <div class="dropdown-contents" style="right: -6px;">
             <a href="#/userManagement"  ng-click="detailess.UserManagement()" ng-if="detailess.usermanagementviews" style="cursor: pointer;">User Management</a>
   
            <a ng-click="detailess.logout()" style="cursor: pointer;">Sign out</a>
         </div>
      </div>
      </div>
  </div>
 
</div>
<div class="detailed-view-page">
   <div class="black-header" style="height: 80px;border-bottom:1px solid #b3b3b3;background-image: url('assets/images/bg_page_header.png');">
      <div class="row">
         <div class="col-md-12">
            <div class="col-md-4" style="padding-left: 2.6%;">
               <div class="" style="margin-top: 3.1%;font-size: 22px;">
                  Sonar Dashboard
               </div>
               <div class="" style="font-size: 14px;">
                  <a href="#/projects" style="color: #4482B2">All projects</a> <img src="assets/images/arrow_right.png" style="vertical-align: sub;">
                  <a href="#/site" style="color: #4482B2">All dashboards</a> <img src="assets/images/arrow_right.png" style="vertical-align: sub;">
                  <a ng-click="detailess.openback()" style="color: #4482B2;cursor: pointer;">System dashboard</a>
               </div>
            </div>
            <div class="col-md-6"></div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding-top: 1%;">
      <div class="col-md-1" style="margin-left: 1.1%;">
         Quality Gate
      </div>
      <div class="col-md-1">
         <span ng-repeat="qgcomponents in detailess.component_list ">
            <span ng-repeat="qgcomponents in qgcomponents.qgateArr track by $index">
               <div ng-if="qgcomponents.formattedValue == 'FAILED' ">
                  <div style="background: white;
                     box-shadow: 0px 0px 2px #888888;
                     border-radius: 0px;
                     border-left: 4px solid red;">
                     <div style="margin-left: 18px;color: red">
                        FAILED
                     </div>
                  </div>
               </div>
               <div ng-if="qgcomponents.formattedValue == 'OK' ">
                  <div style="background: white;
                     box-shadow: 0px 0px 2px #888888;
                     border-radius: 0px;
                     border-left: 4px solid #96c356;">
                     <div style="margin-left: 18px;color: #009900">
                        PASSED
                     </div>
                  </div>
               </div>
            </span>
         </span>
      </div>
   </div>
   <div class="col-md-12 header-terms" style="padding-top: 2%;">
      <div class="col-md-4 first-col">Security</div>
      <div class="col-md-4 second-col">Reliability</div>
      <div class="col-md-4 third-col">Maintainability</div>
   </div>
   <div class="col-md-12 layout-maindiv" style="padding-right: 0px;
      margin-left: 10px;">
      <div class="col-md-4  layout-calcs security-widget all-box-props">
         <div class="widget-headers col-md-12 box-header-style" style="">
         </div>
         <span ng-repeat="components in detailess.component_list ">
         <span ng-repeat="components in components.securityNewArray track by $index">
         <span ng-if="$index == 1"  ng-show=" {{(components.formattedValue == 'C')}}" class="col-md-2" style="float: right;margin-right:2%;">
         <img src="assets/images/status_c.png">
         </span>
         <span ng-if="$index == 1" ng-show=" {{(components.formattedValue == 'A')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
         <span ng-if="$index == 1" ng-show=" {{(components.formattedValue == 'E')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
          <span ng-if="$index == 1" ng-show=" {{(components.formattedValue == 'D')}}" class="col-md-2" style="float: right;margin-right:2%">D</span>
         </span>
         </span>
         <div class="" ng-repeat="components in detailess.component_list ">
            <div class="row widget-inner-spacing" style="margin-left:2%;">
               <div class="" ng-repeat="components in components.securityNewArray track by $index">
                  <span ng-if="$index == 0" class="styling-values col-md-4 round-props" style="margin-top:2%;">{{components.formattedValue}}</span>
                  <span ng-if="$index == 2" class="widget-value-pro col-md-6" style="padding-left: 12%">{{components.formattedValue}}</span>
               </div>
            </div>
         </div>
         <div class="col-md-12 label-props widget-inner-spacing" style="margin-top: -22px;">
            <div class="col-md-4" style="padding-left: 0px;">Vulnerabilities</div>
            <!-- <div class="col-md-4" style="padding-left: 17px;">Rating</div> -->
            <div class="col-md-6 ">Remediation effort</div>
         </div>
      </div>
      <div class="col-md-4  layout-calcs security-widget all-box-props">
         <!-- <div class="widget-headers col-md-12 box-header-style">
            <div class="">
                Reliability</div>
            </div> -->
         <span ng-repeat="component in detailess.component_list ">
         <span ng-repeat="component in component.newArr track by $index">
         <span ng-if="$index == 1"  ng-show=" {{(component.formattedValue == 'C')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_c.png"></span>
         <span ng-if="$index == 1" ng-show=" {{(component.formattedValue == 'A')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
         <span ng-if="$index == 1" ng-show=" {{(component.formattedValue == 'E')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
           <span ng-if="$index == 1" ng-show=" {{(component.formattedValue == 'D')}}" class="col-md-2" style="float: right;margin-right:2%">D</span>
         </span>
         </span>
         <div class="" ng-repeat="component in detailess.component_list ">
            <div class="row widget-inner-spacing" style="margin-left:2%;">
               <div class="" ng-repeat="component in component.newArr track by $index">
                  <span class="styling-values col-md-4 round-props" ng-if="$index == 0" style="margin-top: 7.5%;">{{component.formattedValue}}</span>
                  <span class="widget-value-pro col-md-6" ng-if="$index == 2" style="margin-top: 7%;margin-left: -8px;">{{component.formattedValue}}</span>
               </div>
            </div>
         </div>
         <div class="col-md-12 label-props widget-inner-spacing" style="margin-top:-27px;">
            <div class="col-md-4" style="padding-left:20px;">Bugs</div>
            <!--  <div class="col-md-4" style="padding-left: 17px;">Rating</div> -->
            <div class="col-md-6" style="padding-left:5px;">Remediation effort</div>
         </div>
      </div>
      <div class="col-md-4  layout-calcs security-widget all-box-props">
         <span ng-repeat="componentm in detailess.component_list ">
         <span ng-repeat="componentm in componentm.maintainabilityNewArray track by $index">
         <span ng-if="$index == 1"  ng-show=" {{(componentm.formattedValue == 'C')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_c.png"></span>
         <span ng-if="$index == 1" ng-show=" {{(componentm.formattedValue == 'A')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
         <span ng-if="$index == 1" ng-show=" {{(componentm.formattedValue == 'E')}}" class="col-md-2" style="float: right;margin-right:2%"><img src="assets/images/status_a.png"></span>
             <span ng-if="$index == 1" ng-show=" {{(componentm.formattedValue == 'D')}}" class="col-md-2" style="float: right;margin-right:2%">D</span>
         </span>
         </span>
         <div class="" ng-repeat="componentm in detailess.component_list ">
            <div class="row widget-inner-spacing" style="margin-left:2%;">
               <div class="" ng-repeat="componentm in componentm.maintainabilityNewArray track by $index">
                  <span ng-if="$index == 0" class="styling-values col-md-4 round-props" style="margin-top:1.1%">{{componentm.formattedValue}}</span>
                  <span ng-if="$index == 2" class="widget-value-pro col-md-6" style="text-align: center;">{{componentm.formattedValue}}</span>
               </div>
            </div>
         </div>
         <div class="col-md-12 label-props widget-inner-spacing" style="margin-top: -20px;">
            <!-- <div class="col-md-4">Rating</div> -->
            <div class="col-md-4" style="padding-left:2px">Code smells</div>
            <div class="col-md-6" >Technical debt</div>
         </div>
      </div>
   </div>
   <div class="col-md-12 header-terms" style="padding-top: 2%;">
      <div class="col-md-4 first-col">Duplications</div>
      <div class="col-md-4 second-col">Coverage</div>
      <div class="col-md-4 third-col">Complexity</div>
   </div>
   <div class="col-md-12 layout-maindiv" style="padding-right: 0px;
      margin-left: 10px;">
      <div class="col-md-4  layout-calcs duplication-widget 
         all-box-props">
         <div class="content-padding" style="padding-top:20px;">
            <div class="" ng-repeat="componentdu in detailess.component_list ">
               <div class="row " style="margin-left:0%;">
                  <div class=" " ng-repeat="componentdu in componentdu.duplicationsNewArray track by $index">
                     <span ng-if="$index == 0" class="styling-values col-md-4"></span>
                     <span ng-if="$index == 1" class="label-props col-md-2" style="padding-top: 8px;">Blocks</span>
                     <span ng-if="$index == 1" class="col-md-4 widget-value-pro-small" style="padding-left: 32px;padding-top: 5px;">{{componentdu.formattedValue}}</span>
                     <span ng-if="$index == 1" class="col-md-4 widget-value-pro-small"  ng-show="!componentdu.formattedValue" style="padding-left: 32px;padding-top: 5px;">0</span>
                  </div>
               </div>
               <div class="row " style="margin-left:0%;">
                  <div class="col-md-3 " ng-repeat="componentdu in componentdu.duplicationsNewArray track by $index">
                     <span ng-if="$index == 0" class="styling-values col-md-4 round-props">{{componentdu.formattedValue}}</span>
                     <span ng-if="$index == 1" style="padding-left:42%;padding-top: 31%;" class="label-props col-md-2">Files</span>
                     <span ng-if="$index == 2" class="widget-value-pro-small col-md-5" style="padding-left:25%;padding-top: 29%;">{{componentdu.formattedValue}}</span>
                  </div>
               </div>
               <div class="row " style="margin-left:0%;">
                  <div class="" ng-repeat="componentdu in componentdu.duplicationsNewArray track by $index">
                     <span ng-if="$index == 0" class="label-props col-md-3" style="padding-left: 4%;">Duplicated lines(%)</span>
                     <span ng-if="$index == 1" style="padding-left:11%;" class="label-props col-md-3">Lines</span>
                     <span ng-if="$index == 3" class="widget-value-pro-small col-md-3" style="padding-left:32px;margin-top:-3px;">{{componentdu.formattedValue}}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4  layout-calcs maintainability-widget 
         all-box-props">
         <div class="content-padding" style="padding-top:20px;">
            <div class="col-md-3">
               <div class="" ng-repeat="componentcvr in detailess.component_list ">
                  <div class="row" style="margin-left: 2%">
                     <div class="" ng-repeat="componentcvr in componentcvr.coverageNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-5 round-props" ng-show="componentcvr.formattedValue" style="margin-top: 25%;">{{componentcvr.formattedValue}}
                        <span ng-if="$index == 0" class="col-md-3 label-props" style="padding-top: 94%;
    margin-left: -10px;">Coverage</span></span>


                        <span ng-if="$index == 0" class="styling-values col-md-5 round-props" ng-show="!componentcvr.formattedValue" style="margin-top: 25%;">0
                        <span ng-if="$index == 0" class="col-md-3 label-props" style="padding-top: 96%;padding-left: 0px;">Coverage</span></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="" ng-repeat="componentcvr in detailess.component_list ">
                  <div class="row">
                     <div class="" ng-repeat="componentcvr in componentcvr.coverageNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                        <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small" ng-show="componentcvr.formattedValue">{{componentcvr.formattedValue}}</span>
                        <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small" ng-show="!componentcvr.formattedValue">0</span>
                        <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small" ng-show="componentcvr.formattedValue">{{componentcvr.formattedValue}}</span>
                        <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small" ng-show="!componentcvr.formattedValue">0</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="">
                     <span class="styling-values col-md-2"></span>
                     <span class="col-md-8 label-props">Uncovered condition</span>
                     <span class="label-props col-md-2">Condition coverage</span>
                  </div>
               </div>
               <div class="" ng-repeat="componentcvr in detailess.component_list ">
                  <div class="row">
                     <div class="" ng-repeat="componentcvr in componentcvr.coverageNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                        <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small" ng-show="componentcvr.formattedValue">{{componentcvr.formattedValue}}</span>
                        <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small" ng-show="!componentcvr.formattedValue">0</span>
                        <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small" ng-show="componentcvr.formattedValue">{{componentcvr.formattedValue}}</span>
                        <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small" ng-show="!componentcvr.formattedValue">0</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="">
                     <span class="styling-values col-md-2"></span>
                     <span class="col-md-8 label-props">Line coverage</span>
                     <span class="label-props col-md-2">Uncovered</span>
                  </div>
               </div>
               <div class="" ng-repeat="componentcvr in detailess.component_list ">
                  <div class="row">
                     <div class="" ng-repeat="componentcvr in componentcvr.coverageNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                        <span ng-if="$index == 5" class="col-md-6 widget-value-pro-small" ng-show="componentcvr.formattedValue">{{componentcvr.formattedValue}}</span>
                        <span ng-if="$index == 5" class="col-md-6 widget-value-pro-small" ng-show="!componentcvr.formattedValue">0</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="">
                     <span class="styling-values col-md-2"></span>
                     <span class="col-md-6 label-props">Line to cover</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4  layout-calcs maintainability-widget all-box-props">
         <div class="content-padding" style="padding-top:20px;">
            <div class="" ng-repeat="componentco in detailess.component_list ">
               <div class="row " style="margin-left:2%;">
                  <div class="" ng-repeat="componentcos in componentco.complexityNewArray track by $index">
                     <span ng-if="$index == 0" class="styling-values col-md-3 "></span>
                     <span ng-if="$index == 1" class="label-props col-md-3" style="padding-left: 42px;padding-top: 8px">Function</span>
                     <span class="widget-value-pro-small col-md-3" ng-if="$index == 1" ng-show="componentcos.formattedValue" style="padding-top: 5px">{{componentcos.formattedValue}}</span>
                     <span class="widget-value-pro-small col-md-3" ng-if="$index == 1" ng-show="!componentcos.formattedValue" style="padding-top: 5px">0</span>
                  </div>
               </div>
               <div class="row " style="margin-left:2%;">
                  <div class="" ng-repeat="componentcos in componentco.complexityNewArray track by $index">
                     <span ng-if="$index == 0" class="styling-values col-md-3 round-props" ng-show="componentcos.formattedValue">{{componentcos.formattedValue}}</span>
                     <span ng-if="$index == 0" class="styling-values col-md-3 round-props" ng-show="!componentcos.formattedValue">0</span>
                     <span ng-if="$index == 1" class="label-props col-md-3 " style="padding-left: 75px !important;
    padding-top: 6.8%;">File</span>
                     <span ng-if="$index == 2" class="widget-value-pro-small col-md-3 " style="padding-top: 6%;
    padding-left: 10% !important;" ng-show="componentcos.formattedValue">{{componentcos.formattedValue}}</span>
                     <span ng-if="$index == 2" class="widget-value-pro-small col-md-3 " style="padding-top: 6%;
    padding-left: 10% !important;" ng-show="!componentcos.formattedValue">0</span>
                  </div>
               </div>
               <div class="row " style="margin-left:2%;">
                  <div class="" ng-repeat="componentcos in componentco.complexityNewArray track by $index">
                     <span ng-if="$index == 0" class="label-props col-md-3 " style="padding-left: 7px;">Complexity</span>
                     <span ng-if="$index == 1" class="label-props col-md-3" style="padding-left: 40px;">Class</span>
                     <span class="widget-value-pro-small col-md-3" ng-if="$index == 2" ng-show="componentcos.formattedValue">{{componentcos.formattedValue}}</span>
                     <span class="widget-value-pro-small col-md-3" ng-if="$index == 1" ng-show="!componentcos.formattedValue">0</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12 header-terms" style="padding-top: 2%;">
         <div class="col-md-4 first-col" style="padding-left: 16px !important">Documentation</div>
         <div class="col-md-4 second-col" style="padding-left: 4px !important">Size</div>
         <div class="col-md-4 third-col">Issues</div>
      </div>
      <div class="col-md-12 layout-maindiv " style="padding-right: 0px;
         margin-left: 0px;margin-bottom: 2%;">
         <div class="col-md-4  layout-calcs maintainability-widget all-box-props all-box-props">
            <div class="content-padding" style="padding-top:20px;">
               <div class="" ng-repeat="componentdoc in detailess.component_list ">
                  <div class="row " style="margin-left:2%;">
                     <div class="" ng-repeat="componentdoc in componentdoc.docuNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-4 " style=""></span>
                        <span ng-if="$index == 1" class="label-props col-md-3" style="padding-left: 12px;">Comments (%)</span>
                        <span class="widget-value-pro-small col-md-3" ng-if="$index == 1" style="padding-left: 30px;" ng-show="componentdoc.formattedValue">{{componentdoc.formattedValue}}</span>
                        <span class="widget-value-pro-small col-md-3" ng-if="$index == 1" style="padding-left: 30px;" ng-show="!componentdoc.formattedValue">0</span>
                     </div>
                  </div>
                  <div class="row " style="margin-left:2%;">
                     <div class="" ng-repeat="componentdoc in componentdoc.docuNewArray track by $index">
                        <span ng-if="$index == 0" class="styling-values col-md-4 round-props" ng-show="componentdoc.formattedValue" style="padding-left: 2px;">{{componentdoc.formattedValue}}</span>
                        <span ng-if="$index == 0" class="styling-values col-md-4 round-props" ng-show="!componentdoc.formattedValue" style="padding-left: 2px;">0</span>
                        <span ng-if="$index == 1" class="label-props col-md-3 " style="padding-top: 25px;padding-left: 19%;width: 163px;">Undoc api</span>
                        <span ng-if="$index == 2" class="widget-value-pro-small col-md-3 " style="padding-top: 24px;padding-left: 9%;" ng-show="componentdoc.formattedValue">{{componentdoc.formattedValue}}</span>
                        <span ng-if="$index == 2" class="widget-value-pro-small col-md-3 " style="padding-top: 8px;padding-left: 9%;" ng-show="!componentdoc.formattedValue">0</span>
                     </div>
                  </div>
                  <div class="row " style="margin-left:2%;">
                     <div class="" ng-repeat="componentdoc in componentdoc.docuNewArray track by $index">
                        <span ng-if="$index == 0" class="label-props col-md-4 " style="padding-left: 0px;">Comment lines</span>
                        <span ng-if="$index == 1" class="label-props col-md-3" style="padding-left: 12px;">Doc api (%)</span>
                        <span class="widget-value-pro-small col-md-3" ng-if="$index == 3" style="margin-top: -3px;padding-left: 30px;" ng-show="componentdoc.formattedValue">{{componentdoc.formattedValue}}</span>
                        <span class="widget-value-pro-small col-md-3" ng-if="$index == 3" style="margin-top: -3px;padding-left: 30px;" ng-show="!componentdoc.formattedValue">0</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4  layout-calcs maintainability-widget all-box-props">
            <div class="content-padding" style="padding-top:20px;">
               <div class="col-md-3">
                  <div class="" ng-repeat="componentsize in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentsize in componentsize.sizeNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-5 round-props" ng-show="componentsize.formattedValue" style="
                              margin-left: 11%;margin-top: 20%;">{{componentsize.formattedValue}}
                           
                           <span ng-if="$index == 0" class="col-md-3 label-props" style="margin-left: -24px;
    padding-top: 45%;
    font-weight: normal;width: 100px;">Lines of code</span></span>  
                           <span ng-if="$index == 0" class="styling-values col-md-5 round-props" ng-show="!componentsize.formattedValue" style="
                              margin-left: 11%;margin-top: 20%;">0
                           <span ng-if="$index == 0" class="col-md-3 label-props" >Lines of code</span></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="" ng-repeat="componentsize in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentsize in componentsize.sizeNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                           <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small" ng-show="componentsize.formattedValue">{{componentsize.formattedValue}}</span>
                           <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small" ng-show="!componentsize.formattedValue">0</span>
                           <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small" ng-show="componentsize.formattedValue">{{componentsize.formattedValue}}</span>
                           <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small" ng-show="!componentsize.formattedValue">0</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="">
                        <span class="styling-values col-md-2"></span>
                        <span class="col-md-8 label-props">Files</span>
                        <span class="label-props col-md-2">Classes</span>
                     </div>
                  </div>
                  <div class="" ng-repeat="componentsize in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentsize in componentsize.sizeNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                           <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small" ng-show="componentsize.formattedValue">{{componentsize.formattedValue}}</span>
                           <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small" ng-show="!componentsize.formattedValue">0</span>
                           <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small" ng-show="componentsize.formattedValue">{{componentsize.formattedValue}}</span>
                           <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small" ng-show="!componentsize.formattedValue">0</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="">
                        <span class="styling-values col-md-2"></span>
                        <span class="col-md-8 label-props">Statements</span>
                        <span class="label-props col-md-2">Methods</span>
                     </div>
                  </div>
                  <div class="" ng-repeat="componentsize in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentsize in componentsize.sizeNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                           <span ng-if="$index == 5" class="col-md-6 widget-value-pro-small" ng-show="componentsize.formattedValue">{{componentsize.formattedValue}}</span>
                           <span ng-if="$index == 5" class="col-md-6 widget-value-pro-small" ng-show="!componentsize.formattedValue">0</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="">
                        <span class="styling-values col-md-2"></span>
                        <span class="col-md-6 label-props">Directories</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4  layout-calcs maintainability-widget all-box-props">
            <div class="content-padding" style="padding-top:20px;">
               <div class="col-md-3">
                  <div class="" ng-repeat="componentiss in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentiss in componentiss.issueNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-5 round-props" style="
                              margin-left: 11%;margin-top: 20%;">{{componentiss.formattedValue}}
                           </span>
                           <div ng-if="$index == 0" class="label-props" style="padding-left: 27%;">Blocker</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="" ng-repeat="componentiss in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentiss in componentiss.issueNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                           <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small">{{componentiss.formattedValue}}</span>
                           <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small">{{componentiss.formattedValue}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="">
                        <span class="styling-values col-md-2"></span>
                        <span class="col-md-8 label-props">Major</span>
                        <span class="label-props col-md-2">Critical</span>
                     </div>
                  </div>
                  <div class="" ng-repeat="componentiss in detailess.component_list ">
                     <div class="row">
                        <div class="" ng-repeat="componentiss in componentiss.issueNewArray track by $index">
                           <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                           <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small">{{componentiss.formattedValue}}</span>
                           <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small">{{componentiss.formattedValue}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="">
                        <span class="styling-values col-md-2"></span>
                        <span class="col-md-8 label-props">Info</span>
                        <span class="label-props col-md-2">Minor</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="col-md-12 layout-maindiv" style="padding-top:1.4%;">
         <div class="col-md-4  layout-calcs maintainability-widget" style="height:195px;background: #fff;">
             <div class="widget-headers">Test Coverage</div>
             <div class="content-padding" style="padding-left: 18px;padding-top:20px;">
             <div class="col-md-3">
                 <div class="" ng-repeat="componenttestcvr in detailess.component_list ">
                     <div class="row" >
                         <div class="" ng-repeat="componenttestcvr in componenttestcvr.testcoverageNewArray track by $index">
                             <span ng-if="$index == 0" class="styling-values col-md-5">{{componenttestcvr.formattedValue}}
                             <span ng-if="$index == 0" class="col-md-3 label-props" >Lines of code</span></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-7">
                 <div class="row" >
                     <div class="" >
                         <span  class="styling-values col-md-2"></span>
                         <span  class="col-md-8 label-props">Uncovered Condition</span>
                         <span  class="label-props col-md-2">Branch</span>
                     </div>
                 </div>
                 <div class="" ng-repeat="componenttestcvr in detailess.component_list ">
                     <div class="row" >
                         <div class="" ng-repeat="componenttestcvr in componenttestcvr.testcoverageNewArray track by $index">
                             <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                             <span ng-if="$index == 1" class="col-md-8 widget-value-pro-small" >{{componenttestcvr.formattedValue}}</span>
                             <span ng-if="$index == 2" class="col-md-2 widget-value-pro-small" >{{componenttestcvr.formattedValue}}</span>
                         </div>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="" >
                         <span  class="styling-values col-md-2"></span>
                         <span  class="col-md-8 label-props">Uncovered Line</span>
                         <span  class="label-props col-md-2">Lines</span>
                     </div>
                 </div>
                 <div class="" ng-repeat="componenttestcvr in detailess.component_list ">
                     <div class="row" >
                         <div class="" ng-repeat="componenttestcvr in componenttestcvr.testcoverageNewArray track by $index">
                             <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                             <span ng-if="$index == 3" class="col-md-8 widget-value-pro-small">{{componenttestcvr.formattedValue}}</span>
                             <span ng-if="$index == 4" class="col-md-2 widget-value-pro-small">{{componenttestcvr.formattedValue}}</span>
                         </div>
                     </div>
                 </div>
                 <div class="row" >
                     <div class="" >
                         <span  class="styling-values col-md-2"></span>
                         <span  class="col-md-6 label-props">Lines</span>
                     </div>
                 </div>
                 <div class="" ng-repeat="componenttestcvr in detailess.component_list ">
                     <div class="row" >
                         <div class="" ng-repeat="componenttestcvr in componenttestcvr.testcoverageNewArray track by $index">
                             <span ng-if="$index == 0" class="styling-values col-md-2"></span>
                             <span ng-if="$index == 5" class="col-md-6 widget-value-pro-small">{{componenttestcvr.formattedValue}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div></div>
         </div> -->
   </div>
</div>