<widget-modal widget-modal-title="Add defects" class="border-prop-modals">
    <form name="cdf" class="form" ng-submit="adc.postDefect()" novalidate>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Low</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Medium</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">High</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Critical</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label createproj-label-props" for="pwd">Open Defects by Severity</label>
            </div>
            <div class="col-md-2">
                <form-group input="Lowods" errors="{required: 'Release id is required'}">
                    <input type="text" name="Lowods" class="form-control" placeholder="Low" ng-model="adc.lowPriorityDefectsCount" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Mediumods">
                    <input type="text" name="Mediumods" class="form-control" placeholder="Medium" ng-model="adc.mediumPriorityDefectsCount" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Highods">
                    <input type="text" name="Highods" class="form-control" placeholder="High" ng-model="adc.highPriorityDefectsCount" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Criticalods">
                    <input type="text" name="Criticalods" class="form-control" placeholder="Critical" ng-model="adc.criticalPriorityDefectsCount" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">QA</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">UAT</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Production</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label createproj-label-props" for="pwd">Open Defects by Enviornment</label>
            </div>
            <div class="col-md-2">
                <form-group input="QAenv">
                    <input type="text" name="QAenv" class="form-control" placeholder="QA" ng-model="adc.QA_DefectsCount" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="UATenv">
                    <input type="text" name="UATenv" class="form-control" placeholder="UAT" ng-model="adc.UAT_DefectsCount" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Productionenv">
                    <input type="text" name="Productionenv" class="form-control" placeholder="Production" ng-model="adc.PROD_DefectsCount" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="col-md-12" style="font-size: 15px;">
            Age of open defects
        </div>
        <div class="col-md-6" style="padding-top: 2%;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Low</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Medium</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">High</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Critical</label>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Low</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Medium</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">High</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Critical</label>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%;">
            <label class="control-label col-md-4  createproj-label-props" for="pwd"> &lt;15days</label>
            <div class="col-md-2">
                <form-group input="Low1">
                    <input type="text" name="Low1" class="form-control" placeholder="Low" ng-model="adc.openDefectsWithLowPriorityAndAgeLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium1">
                    <input type="text" name="Medium1" class="form-control" placeholder="Medium" ng-model="adc.openDefectsWithMediumPriorityAndAgeLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High1">
                    <input type="text" name="High1" class="form-control" placeholder="High" ng-model="adc.openDefectsWithHighPriorityAndAgeLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical1">
                    <input type="text" name="Critical1" class="form-control" placeholder="Critical" ng-model="adc.openDefectsWithCriticalPriorityAndAgeLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 30 days &lt; 60 </label>
            <div class="col-md-2">
                <form-group input="Low2">
                    <input type="text" name="Low2" class="form-control" placeholder="Low" ng-model="adc.openDefectsWithLowPriorityAndAgeBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium2">
                    <input type="text" name="Medium2" class="form-control" placeholder="Medium" ng-model="adc.openDefectsWithMediumPriorityAndAgeBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High2">
                    <input type="text" name="High2" class="form-control" placeholder="High" ng-model="adc.openDefectsWithHighPriorityAndAgeBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical2">
                    <input type="text" name="Critical2" class="form-control" placeholder="Critical" ng-model="adc.openDefectsWithCriticalPriorityAndAgeBetween30To60Days" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%">
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 15 days &lt; 30</label>
            <div class="col-md-2">
                <form-group input="Low3">
                    <input type="text" name="Low3" class="form-control" placeholder="Low" ng-model="adc.openDefectsWithLowPriorityAndAgeBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium3">
                    <input type="text" name="Medium3" class="form-control" placeholder="Medium" ng-model="adc.openDefectsWithMediumPriorityAndAgeBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High3">
                    <input type="text" name="High3" class="form-control" placeholder="High" ng-model="adc.openDefectsWithHighPriorityAndAgeBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical3">
                    <input type="text" name="Critical3" class="form-control" placeholder="Critical" ng-model="adc.openDefectsWithCriticalPriorityAndAgeBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 60 days &lt; 90</label>
            <div class="col-md-2">
                <form-group input="Low3">
                    <input type="text" name="Low3" class="form-control" placeholder="Low" ng-model="adc.openDefectsWithLowPriorityAndAgeBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium3">
                    <input type="text" name="Medium3" class="form-control" placeholder="Medium" ng-model="adc.openDefectsWithMediumPriorityAndAgeBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High3">
                    <input type="text" name="High3" class="form-control" placeholder="High" ng-model="adc.openDefectsWithHighPriorityAndAgeBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical3">
                    <input type="text" name="Critical3" class="form-control" placeholder="Critical" ng-model="adc.openDefectsWithCriticalPriorityAndAgeBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 90 days</label>
            <div class="col-md-2">
                <form-group input="Low4">
                    <input type="text" name="Low4" class="form-control" placeholder="Low" ng-model="adc.openDefectsWithLowPriorityAndAgeGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium4">
                    <input type="text" name="Medium4" class="form-control" placeholder="Medium" ng-model="adc.openDefectsWithMediumPriorityAndAgeGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High4">
                    <input type="text" name="High4" class="form-control" placeholder="High" ng-model="adc.openDefectsWithHighPriorityAndAgeGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical4">
                    <input type="text" name="Critical4" class="form-control" placeholder="Critical" ng-model="adc.openDefectsWithCriticalPriorityAndAgeGreaterThan90" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="col-md-12" style="font-size: 15px;">
            Resolution Time
        </div>
        <div class="col-md-6" style="padding-top: 2%;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Low</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Medium</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">High</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Critical</label>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Low</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Medium</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">High</label>
            </div>
            <div class="col-md-2">
                <label class="control-label createproj-label-props" for="pwd">Critical</label>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%">
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 15 days</label>
            <div class="col-md-2">
                <form-group input="Low5">
                    <input type="text" name="Low5" class="form-control" placeholder="Low" ng-model="adc.fixedDefectsWithLowPriorityAndResolutionLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium5">
                    <input type="text" name="Medium5" class="form-control" placeholder="Medium" ng-model="adc.fixedDefectsWithMediumPriorityAndResolutionLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High5">
                    <input type="text" name="High5" class="form-control" placeholder="High" ng-model="adc.fixedDefectsWithHighPriorityAndResolutionLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical5">
                    <input type="text" name="Critical5" class="form-control" placeholder="Critical" ng-model="adc.fixedDefectsWithCriticalPriorityAndResolutionLessThanOrEQ15Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 30 days &lt; 60</label>
            <div class="col-md-2">
                <form-group input="Low6">
                    <input type="text" name="Low6" class="form-control" placeholder="Low" ng-model="adc.fixedDefectsWithLowPriorityAndResolutionBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium6">
                    <input type="text" name="Medium6" class="form-control" placeholder="Medium" ng-model="adc.fixedDefectsWithMediumPriorityAndResolutionBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High6">
                    <input type="text" name="High6" class="form-control" placeholder="High" ng-model="adc.fixedDefectsWithHighPriorityAndResolutionBetween30To60Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical6">
                    <input type="text" name="Critical6" class="form-control" placeholder="Critical" ng-model="adc.fixedDefectsWithCriticalPriorityAndResolutionBetween30To60Days" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 2%">
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 15 days &lt; 30</label>
            <div class="col-md-2">
                <form-group input="Low7">
                    <input type="text" name="Low7" class="form-control" placeholder="Low" ng-model="adc.fixedDefectsWithLowPriorityAndResolutionBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium7">
                    <input type="text" name="Medium7" class="form-control" placeholder="Medium" ng-model="adc.fixedDefectsWithMediumPriorityAndResolutionBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High7">
                    <input type="text" name="High7" class="form-control" placeholder="High" ng-model="adc.fixedDefectsWithHighPriorityAndResolutionBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical7">
                    <input type="text" name="Critical7" class="form-control" placeholder="Critical" ng-model="adc.fixedDefectsWithCriticalPriorityAndResolutionBetween15To30Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 60 days &lt; 90</label>
            <div class="col-md-2">
                <form-group input="Low8">
                    <input type="text" name="Low8" class="form-control" placeholder="Low" ng-model="adc.fixedDefectsWithLowPriorityAndResolutionBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium8">
                    <input type="text" name="Medium8" class="form-control" placeholder="Medium" ng-model="adc.fixedDefectsWithMediumPriorityAndResolutionBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High8">
                    <input type="text" name="High8" class="form-control" placeholder="High" ng-model="adc.fixedDefectsWithHighPriorityAndResolutionBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical8">
                    <input type="text" name="Critical8" class="form-control" placeholder="Critical" ng-model="adc.fixedDefectsWithCriticalPriorityAndResolutionBetween60To90Days" numbers-only />
                </form-group>
            </div>
            <label class="control-label col-md-4  createproj-label-props" for="pwd">&gt; 90 days</label>
            <div class="col-md-2">
                <form-group input="Low9">
                    <input type="text" name="Low9" class="form-control" placeholder="Low" ng-model="adc.fixedDefectsWithLowPriorityAndResolutionGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Medium9">
                    <input type="text" name="Medium9" class="form-control" placeholder="Medium" ng-model="adc.fixedDefectsWithMediumPriorityAndResolutionGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="High9">
                    <input type="text" name="High9" class="form-control" placeholder="High" ng-model="adc.fixedDefectsWithHighPriorityAndResolutionGreaterThan90" numbers-only />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Critical9">
                    <input type="text" name="Critical9" class="form-control" placeholder="Critical" ng-model="adc.fixedDefectsWithCriticalPriorityAndResolutionGreaterThan90" numbers-only />
                </form-group>
            </div>
        </div>
        <div class="button-row row" style="padding-left: 12px;">
            <button type="submit" class="btn btn-info green-btn-props project-map-add-btn" style="padding-top: 5px;margin-top: 0px;">Create</button>
            <button type="button" class="btn btn-default white-cancel-btn" style="padding-top: 3px;margin-left: 20px;" ng-click="$close()">Cancel</button>
        </div>
    </form>
</widget-modal>