<link href="assets/images/angular-datepicker.css" rel="stylesheet" type="text/css" />
<script src="assets/images/angular-datepicker.js"></script>
<link href="assets/images/fld/angular-datepicker.css" rel="stylesheet" type="text/css" />
<script src="assets/images/fld/angular-datepicker.js"></script>
<widget-modal widget-modal-title="Add Sprint" class="border-prop-modals">
    <form name="cdf" class="form" ng-submit="asc.postSprint()" ng-if="asc.normalformText" novalidate>
        <div class="col-md-6">
            <form-group input="sprintid" errors="{required: 'Sprint id is required',maxlength: 'Max length of 50 characters', createError: 'Error creating dashboard. Change title and try again.', pattern : 'Special character(s) found. Please enter only letters, numbers or spaces.'}">
                <input type="number" name="sprintid" class="form-control" placeholder="Sprint id" ng-model="asc.sprintPayload.sprintId" required maxlength="50" autocomplete="off" ng-pattern="/^[a-zA-Z0-9 ]*$/" />
            </form-group>
            <form-group input="sprintname" errors="{required: 'Sprint name is required', maxlength: 'Max length of 50 characters', createError: 'Error creating dashboard. Change title and try again.', pattern : 'Special character(s) found. Please enter only letters, numbers or spaces.'}">
                <input type="text" name="sprintname" class="form-control" placeholder="Sprint name" ng-model="asc.sprintPayload.sprintName" required maxlength="50" autocomplete="off" ng-pattern="/^[a-zA-Z0-9 ]*$/" />
            </form-group>
            <!--  <form-group input="description">
            <input
                type="text"
                name="description"
                class="form-control"
                placeholder="Description"
               ng-model="asc.sprintPayload.desc"
                autocomplete="off"
               />

        </form-group> -->
            <form-group input="comittedstorypoints">
                <input type="number" name="comittedstorypoints" class="form-control" placeholder="Committed story points" ng-model="asc.sprintPayload.committedStoryPoints" />
            </form-group>
            <form-group input="comittedissuecount">
                <input type="number" name="comittedissuecount" class="form-control" placeholder="Committed issue count" ng-model="asc.sprintPayload.committedStoriesCount" />
            </form-group>
            <label class="control-label col-md-4 createproj-label-props" for="pwd">Stories Added</label>
            <div class="col-md-8">
                <form-group input="count">
                    <input type="number" name="count" class="form-control" placeholder="Count" ng-model="asc.sprintPayload.storiesAdded" />
                </form-group>
            </div>
            <!--  <div class="col-md-4">
         <form-group input="points" >
            <input
                type="number"
                name="points"
                class="form-control"
                placeholder="Points"
              ng-model="asc.sprintPayload.storypointsAdded"
                />

        </form-group> </div> -->
            <label class="control-label col-md-4 createproj-label-props" for="pwd">Stories Removed</label>
            <div class="col-md-8">
                <form-group input="countstoryremoved">
                    <input type="number" name="countstoryremoved" class="form-control" placeholder="Count" ng-model="asc.sprintPayload.storiesRemoed" />
                </form-group>
            </div>
            <!--    
        <div class="col-md-4">
         <form-group input="pointstoryremoved">
            <input
                type="number"
                name="pointstoryremoved"
                class="form-control"
                placeholder="Points"
               ng-model="asc.sprintPayload.storypointsRemoed"
               />

        </form-group> </div> -->
            <!--    <form-group input="efforts">
            <input
                type="number"
                name="efforts"
                class="form-control"
                placeholder="Efforts (in PD)"
             ng-model="asc.sprintPayload.efforts"
               />

        </form-group> -->
        </div>
        <div class="col-md-6">
            <form-group input="selectedTemplate" errors="{required: 'Status is required'}">
                <select ng-options="o.value as o.label for o in options" ng-model="asc.sprintPayload.released" class="form-control"></select>
            </form-group>
            <form-group input="completedstorypointscol2">
                <input type="number" name="completedstorypointscol2" class="form-control" placeholder="Completed story points" ng-model="asc.sprintPayload.completedStoryPoints" />
            </form-group>
            <form-group input="comittedissuecountcol2">
                <input type="number" name="comittedissuecountcol2" class="form-control" placeholder="Completed issue count" ng-model="asc.sprintPayload.completedStoriesCount" />
            </form-group>
            <label class="control-label col-md-4 createproj-label-props" for="pwd">Defects Found</label>
            <div class="col-md-2">
                <form-group input="criticalone">
                    <input type="number" name="criticalone" class="form-control" placeholder="Critical" ng-model="asc.sprintPayload.criticalDefectsFound" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="highone">
                    <input type="number" name="highone" class="form-control" placeholder="High" ng-model="asc.sprintPayload.highDefectsFound" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="mediumone">
                    <input type="number" name="mediumone" class="form-control" placeholder="Medium" ng-model="asc.sprintPayload.mediumDefectsFound" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="lowone">
                    <input type="number" name="lowone" class="form-control" placeholder="Low" ng-model="asc.sprintPayload.lowDefectsFound" />
                </form-group>
            </div>
            <label class="control-label col-md-4 createproj-label-props" for="pwd">Defects Resolved</label>
            <div class="col-md-2">
                <form-group input="Criticaltwo">
                    <input type="number" name="Criticaltwo" class="form-control" placeholder="Critical" ng-model="asc.sprintPayload.criticalDefectsClosed" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Hightwo">
                    <input type="number" name="Hightwo" class="form-control" placeholder="High" ng-model="asc.sprintPayload.highDefectsClosed" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Mediumtwo">
                    <input type="number" name="Mediumtwo" class="form-control" placeholder="Medium" ng-model="asc.sprintPayload.mediumDefectsClosed" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Lowtwo">
                    <input type="number" name="Lowtwo" class="form-control" placeholder="Low" ng-model="asc.sprintPayload.lowDefectsClosed" />
                </form-group>
            </div>
            <label class="control-label col-md-4 createproj-label-props" for="pwd">Defects Unresolved</label>
            <div class="col-md-2">
                <form-group input="Criticalthree">
                    <input type="number" name="Criticalthree" class="form-control" placeholder="Critical" ng-model="asc.sprintPayload.criticalDefectsUnresolved" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Highthree">
                    <input type="number" name="Highthree" class="form-control" placeholder="High" ng-model="asc.sprintPayload.highDefectsUnresolved" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Mediumthree">
                    <input type="number" name="Mediumthree" class="form-control" placeholder="Medium" ng-model="asc.sprintPayload.mediumDefectsUnresolved" />
                </form-group>
            </div>
            <div class="col-md-2">
                <form-group input="Lowthree">
                    <input type="number" name="Lowthree" class="form-control" placeholder="Low" ng-model="asc.sprintPayload.lowDefectsUnresolved" />
                </form-group>
            </div>
            <!-- 
        <label class="control-label col-md-4 createproj-label-props" for="pwd">Sprint Defects Unresolved</label>
        <div class="col-md-2">
             <form-group input="Criticalfour">
            <input
                type="text"
                name="Criticalfour"
                class="form-control"
                placeholder="Critical"
               ng-model="asc.sprintId"
               />
        </form-group>  
        </div>

         <div class="col-md-2">
             <form-group input="Highfour">
            <input
                type="text"
                name="Highfour"
                class="form-control"
                placeholder="High"
                ng-model="asc.sprintId"
                />
        </form-group>  
        </div>

         <div class="col-md-2">
             <form-group input="Mediumfour">
            <input
                type="text"
                name="Mediumfour"
                class="form-control"
                placeholder="Medium"
               ng-model="asc.sprintId"
               />
        </form-group>  
        </div>

         <div class="col-md-2">
             <form-group input="Lowfour">
            <input
                type="text"
                name="Lowfour"
                class="form-control"
                placeholder="Low"
                 ng-model="asc.sprintId"
               />
        </form-group>  
        </div> -->
            <div class="col-md-6">
                <form-group input="date1">
                    <datepicker date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{asc.sprintPayload.endDate}}">
                        <input class="form-control font-fontawesome font-light" ng-model="asc.sprintPayload.startDate" name="date1" placeholder="  Start date" required/>
                    </datepicker>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group input="date2">
                    <datepicker date-format="yyyy-MM-dd" selector="form-control" date-min-limit="{{asc.sprintPayload.startDate}}">
                        <input class="form-control font-fontawesome font-light" ng-model="asc.sprintPayload.endDate" name="date2" placeholder="  End date" required/>
                    </datepicker>
                </form-group>
            </div>
        </div>
        <form-group>
            <div style="padding-left: 12px;">
                <button ng-if="asc.addScreen" type="submit" class="btn btn-info green-btn-props project-map-add-btn" style="padding-top: 5px;margin-top: 50px;width: 13%;margin-left: 20%;">Create</button>
                <button ng-if="asc.updateScreen" type="submit" class="btn btn-info green-btn-props project-map-add-btn" style="padding-top: 5px;margin-top: 50px;width: 13%;margin-left: 20%;">Update</button>
                <button type="button" class="btn btn-default white-cancel-btn" style="padding-top: 3px;margin-left: 20px;margin-top: 44px;width: 13% !important;" ng-click="$close()">Cancel</button>
            </div>
        </form-group>
    </form>
    <div class="" ng-click="asc.hideForm()">
        <hr>
        <span ng-if="asc.prevHeader" style="cursor: pointer;"><img src="assets/images/arrow_right.png" style="vertical-align: sub">
   View previously added sprints</span>
        <div class="" ng-if="asc.prevousText">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="font-weight:400;font-size:11px">
                        <th>Sprint ID</th>
                        <th>Sprint Name</th>
                        <th>Sprint Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-props" ng-repeat="sprintdata in asc.spAllDetails">
                        {{sprintdata.sprintData.state}}
                        <td>{{sprintdata.sprintData.sprintId}}</td>
                        <td>{{sprintdata.sprintData.sprintName}}</td>
                        <td ng-if="sprintdata.closed == true"><span>
                    <img src="assets/images/icon_completed.png">
                 </span>CLOSED</td>
                        <td ng-if="sprintdata.closed == false"><span>
                    <img src="assets/images/icon_inprogress.png">
                 </span>OPEN
                            <span style="margin-left: 1%;" ng-click="asc.updateSprint(sprintdata)">
                     <svg version="1.1"
            x="0px" y="0px" width="13px" height="13px" viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve">
<style type="text/css">
            .stedit0{fill:#404041;}
</style>
<defs>
</defs>
<path class="stedit0" d="M18.3,0.7C17.8,0.3,17.2,0,16.5,0c-0.7,0-1.3,0.3-1.8,0.7l-1,1L1.2,14.2c0,0,0,0,0,0c0,0,0,0.1-0.1,0.1
            c0,0,0,0,0,0c0,0,0,0,0,0.1L0,18.5c0,0.1,0,0.3,0.1,0.4C0.2,19,0.3,19,0.4,19c0,0,0.1,0,0.1,0l4.1-1.1c0,0,0,0,0.1,0c0,0,0,0,0,0
            c0,0,0.1,0,0.1-0.1c0,0,0,0,0,0L17.3,5.3l1-1C18.7,3.8,19,3.2,19,2.5C19,1.8,18.7,1.2,18.3,0.7z M1,18l0.7-2.7l2,2L1,18z M4.5,16.9
            l-2.4-2.4L14,2.6L16.4,5L4.5,16.9z M17.7,3.7L17,4.4L14.6,2l0.7-0.7C15.6,1,16,0.8,16.5,0.8c0.5,0,0.9,0.2,1.2,0.5
            C18.3,2,18.3,3.1,17.7,3.7z"/>
</svg>

                 </span>
                        </td>
                        <!--     <td><span ng-if="!jdv.mySplit(sprintdata.sprintData.state,0) == 'CLOSED' ">
                    <img src="assets/images/icon_completed.png">
                 </span>{{sprintdata.sprintData.state}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-click="asc.showForm()">
        <span ng-if="!asc.prevHeader" style="cursor: pointer;"><img src="assets/images/arrow_right.png" style="vertical-align: sub">
   Add sprint</span></div>
</widget-modal>