<widget-modal widget-modal-title="Create a New Dashboard" style="background:#fff;" class="customHeader">
    <form name="cdf" class="form" ng-submit="ctrl.submit(cdf)" novalidate>
        <form-group input="dashboardType">
            <select name="dashboardType"
                    class="form-control"
                    ng-model="ctrl.dashboardType"
                    ng-options="item.text for item in ctrl.dashboardTypes track by item.id"
                    ng-change="ctrl.setAvailableTemplates()"
                    required>
                <option value="" disabled>Select a type</option>
            </select>

        </form-group>

        <form-group input="selectedTemplate" errors="{required: 'Please select a template'}">
            <select name="selectedTemplate"
                    class="form-control"
                    ng-model="ctrl.selectedTemplate"
                    ng-options="item.name for item in ctrl.availableTemplates track by item.value"
                    required>
                <option value="" disabled>Select a template</option>
            </select>
        </form-group>

        <form-group input="dashboardTitle" errors="{required: 'Dashboard title is required', minlength: 'Min length of 6 characters', maxlength: 'Max length of 50 characters', createError: 'Error creating dashboard. Change title and try again.', pattern : 'Special character(s) found. Please enter only letters, numbers or spaces.'}">
            <input
                type="text"
                name="dashboardTitle"
                class="form-control"
                placeholder="Dashboard title"
                ng-model="ctrl.dashboardTitle"
                required
                maxlength="50"
                autocomplete="off"
                minlength="6"
                ng-pattern="/^[a-zA-Z0-9 ]*$/"/>

        </form-group>

        <form-group input="applicationName" errors="{required: 'Application name is required', maxlength: 'Max length of 50 characters'}">
            <input
                type="text"
                name="applicationName"
                class="form-control"
                placeholder="Application name"
                ng-model="ctrl.applicationName"
                maxlength="50"
                autocomplete="off"
                required />
        </form-group>
       <!--  <form-group input="projectName" errors="{required: 'Project name is required', maxlength: 'Max length of 50 characters'}">
            <input
                type="text"
                name="projectName"
                class="form-control"
                placeholder="Project name"
                ng-model="ctrl.projectName"
                maxlength="50"
                autocomplete="off"
                required />
        </form-group> -->

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide" style="width: 30%;background: -webkit-linear-gradient(right, #E8B867, #FF5602);
                background: -o-linear-gradient(left, #E8B867, #FF5602);  
                background: -moz-linear-gradient(left, #E8B867, #FF5602);
                background: linear-gradient(to left, #E8B867, #FF5602);color: #fff;border:none;border-radius: 2px;height: 32px;padding-top: 5px;font-weight: normal;font-size: 16px;">Create</button>
                <button type="submit" class="btn btn-primary btn-wide" style="width: 30%;background: -webkit-linear-gradient(right, #8D8D8D, #414141);
                background: -o-linear-gradient(left, #8D8D8D, #414141);  
                background: -moz-linear-gradient(left, #8D8D8D, #414141);
                background: linear-gradient(to left, #8D8D8D, #414141);color: #fff;border:none;border-radius: 2px;height: 32px;margin-left: 20px;padding-top: 5px;font-weight: normal;font-size: 16px;" ng-click="$close()">Cancel</button>
        </div>

    </form>
</widget-modal>
