<div class="col-md-8 confirmation-maindiv border-prop-modals" style="">
    <div class="col-md-11"></div>
    <div class="col-md-1 title-header">
        <i class="widget-modal-close closebtn-props" aria-hidden="true" ng-click="$close()" style=""></i>
    </div>
   <!--  <div class="col-md-12 functional-header">
        <div class="col-md-4"></div>
         <div class="col-md-6 functional-header-text">Delete Project</div>
    </div> -->
    <div class="col-md-12 functional-message">
        <div class="col-md-1"></div>
        <div class="col-md-11">Do you really want to delete this project?</div> 
    </div>
    <div class="col-md-12 footer-div-parent">
        <div class="col-md-3"></div>
         <div class="col-md-2 confirm-btn-div">
        <input type="button" name="namess" class="btn btn-info  project-map-add-btn confirm-btn-innerdiv" value="Confirm" ng-click="dpc.deleteProjects();">
    </div>
       
    <div class="col-md-1"></div>
    
     <div class="col-md-2 cancel-btn-div">
        <input type="button" name="namess" class="btn btn-default cancel-btn-popups" value="Cancel" ng-click="$close()" style="">
    </div>
        
    </div>
</div>