<div class="col-md-8" style="background:#fff;left:18%;border: 1px solid #c1c1c1;">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <i class="fa fa-times" aria-hidden="true" ng-click="$close()" style="cursor:pointer;"></i>
    </div>
    <div class="col-md-12" style="padding-top:2%;">
        <div class="col-md-4"></div>
         <div class="col-md-6" style="font-weight:600;">Delete Dashboard</div>
    </div>
    <div class="col-md-12" style="padding-top:6%;">
        <div class="col-md-1"></div>
        <div class="col-md-11">Do you really want to Delete this Dashboard?</div> 
    </div>
    <div class="col-md-12" style="padding-top:1.5%;">
        <div class="col-md-3"></div>
         <div class="col-md-2" style="padding-top: 6%;">
        <input type="button" name="namess" class="btn btn-default cancel-btn-popups" value="Cancel" ng-click="$close()" style="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2" style="padding-top: 6%;padding-bottom:5%;">
        <input type="button" name="namess" class="btn btn-info  project-map-add-btn" value="Confirm" ng-click="ddc.deleteDashboardfn();" style="border-radius:0px;margin-top: 0px;">
    </div>
        
    </div>
</div>