<!--<div class="create-project-container">
    <div class="col-md-12">
        <div class="top-nav-bar" style="background: -webkit-linear-gradient(right,#24394C, #7ABEF8 ) !important;   
    background: -o-linear-gradient(left, #24394C, #7ABEF8 ) !important; 
    background: -moz-linear-gradient(left, #24394C, #7ABEF8 ) !important; 
    background: linear-gradient(to left, #24394C, #7ABEF8 ) !important;height: 40px;">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="color:#fff;padding-top: 1.6%;">Add Project</div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="col-md-12" >
        <div class="content-create" style="background:#fff;height: 150px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="padding-top: 5%;">
                <div>
                    <form class="form-horizontal" >
                       	  <div class="form-group" style="padding-left: 11%;" >
                           Are You sure want to Delete the Project? 
                        </div>
                        
                       

                        
                      
                       
                        
                        <div class="form-group" style="padding-top: 8%;padding-left: 17%;" >
                            <input type="submit" name="" value="Delete" style="width: 40%;background: -webkit-linear-gradient(right, #E8B867, #FF5602);
                background: -o-linear-gradient(left, #E8B867, #FF5602);  
                background: -moz-linear-gradient(left, #E8B867, #FF5602);
                background: linear-gradient(to left, #E8B867, #FF5602);color: #fff;border:none;border-radius: 2px;height: 30px;" ng-click="dpc.deleteProjects();">
                             <input type="button" name="" value="Cancel" style="width: 40%;background: -webkit-linear-gradient(right, #8D8D8D, #414141);
                background: -o-linear-gradient(left, #8D8D8D, #414141);  
                background: -moz-linear-gradient(left, #8D8D8D, #414141);
                background: linear-gradient(to left, #8D8D8D, #414141);color: #fff;border:none;border-radius: 2px;height: 30px;margin-left: 20px" ng-click="$close()">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>-->
<div class="col-md-8" style="background:#fff;left:18%;border: 1px solid #c1c1c1;">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <i class="fa fa-times" aria-hidden="true" ng-click="$close()" style="cursor:pointer;"></i>
    </div>
    <div class="col-md-12" style="padding-top:2%;">
        <div class="col-md-4"></div>
         <div class="col-md-6" style="font-weight:600;">Delete Project</div>
    </div>
    <div class="col-md-12" style="padding-top:6%;">
        <div class="col-md-1"></div>
        <div class="col-md-11">Do you really want to Delete this Project?</div> 
    </div>
    <div class="col-md-12" style="padding-top:1.5%;">
        <div class="col-md-3"></div>
         <div class="col-md-2" style="padding-top: 6%;">
        <input type="button" name="namess" class="btn btn-default cancel-btn-popups" value="Cancel" ng-click="$close()" style="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2" style="padding-top: 6%;padding-bottom:5%;">
        <input type="button" name="namess" class="btn btn-info  project-map-add-btn" value="Confirm" ng-click="dpc.deleteProjects();" style="border-radius:0px;margin-top: 0px;">
    </div>
        
    </div>
</div>