

<widget-modal widget-modal-title="Create Roles" style="background:#fff;" >
<form class="form-horizontal" name="editrole.editRoleModel" ng-submit="erc.editRoleCall();" name="formname" novalidate >
                    <label class="control-label col-sm-4 createproj-label-props" for="pwd">Created by</label>
                         <form-group input="createdBy" errors="{required: 'Created by is required', minlength: 'Min length of 3 characters', maxlength: 'Max length of 40 characters'}">
                          
            <input
                type="text"
                name="createdBy"
                class="form-control create-project-inputboxes"
                placeholder="Created by"
                ng-model="erc.role.createdBy"
                maxlength="40"
                autocomplete="off"
                minlength="3"
                required disabled/>
        </form-group>
                       
                 <label class="control-label col-sm-4 createproj-label-props" for="pwd">Description</label>
                              <form-group input="description" errors="{required: 'Description is required', minlength: 'Min length of 3 characters', maxlength: 'Max length of 40 characters'}">
                         
            <input
                type="text"
                name="description"
                class="form-control create-project-inputboxes"
                placeholder="Description"
                ng-model="erc.role.description"
                maxlength="40"
                autocomplete="off"
                minlength="3"
                required />
        </form-group> 
                       
                       <label class="control-label col-sm-4 createproj-label-props" for="pwd">Role key</label>
                                  <form-group input="rolekeys" errors="{required: 'Role key is required', minlength: 'Min length of 3 characters', maxlength: 'Max length of 40 characters'}">
                         
            <input
                type="text"
                name="rolekeys"
                class="form-control create-project-inputboxes"
                placeholder="Role key"
                ng-model="erc.role.roleKey"
                maxlength="40"
                autocomplete="off"
                minlength="3"
                required/>
        </form-group>  

        <div class="dualmultiselect">
           <!--  <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>{{spc.demoOptions.title}}<small>&nbsp;{{spc.demoOptions.helpMessage}}</small> </h4>
                    <input class="form-control" placeholder="{{spc.demoOptions.filterPlaceHolder}}" ng-model="spc.searchTerm"> 
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label style="font-weight: normal;">Permissions</label>
                  <!--   <button type="button" class="btn btn-default btn-xs" ng-click="spc.transfer(spc.demoOptions.items, spc.demoOptions.selectedItems, -1)"> Select All </button>  -->
                    <div class="pool">
                        <ul>
                            <li ng-repeat="item in erc.getAllPermissions | filter: erc.searchTerm | orderBy: erc.getAllPermissions.orderProperty"> <a href="" ng-click="erc.transfer(erc.getAllPermissions, erc.arrayconverted, erc.getAllPermissions.indexOf(item))">{{item}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label style="font-weight: normal;">Selected permissions</label><!--  <button type="button" class="btn btn-default btn-xs" ng-click="spc.transfer(spc.demoOptions.selectedItems, spc.demoOptions.items, -1)"> Deselect All </button>  -->
                    <div class="pool">
                        <ul> 
                           <!--  <li ng-repeat="(key, value) in erc.role.permissions">
                                <a href="" > &lArr;&nbsp;{{value}}</a> 
                            </li> -->
                             <li ng-repeat="(key, value) in erc.role.permissions | filter: erc.searchTerm | orderBy: erc.role.permissions.orderProperty"> <a href="" ng-click="erc.transfer(erc.role.permissions, erc.getAllPermissions, erc.role.permissions.indexOf(item))">{{value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="form-group" style="padding-top: 3%;padding-left: 4%;">
                             <button type="submit" class="btn btn-info green-btn-props project-map-add-btn" name="" style="margin-top: 0px;">Add</button>
                             <input type="button" name="" class="btn btn-default white-cancel-btn" value="Cancel"  ng-click="$close()" style="margin-left: 20px;">
                            
              
                        </div>
                    </form>
</widget-modal>
