<widget-modal class="border-prop-modals">
    <div class="widget-modal-heading">{{hmc.title}}</div>
    <form name="hmc.addHeatmapPage" class="form" ng-submit="hmc.postHeatMap()" ng-if="hmc.normalformText" novalidate>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Submission month<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="sm" errors="{required: 'Month is required'}">
                        <select autofocus name="sm" class="form-control fa" ng-model="hmc.heatMapPayload.submissionDate" ng-options="item for item in hmc.monthOptions" required>
                            <option value="" disabled selected hidden>Choose a month</option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Enter date of Submission month" data-toggle="tooltip">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Development team size<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="dts" errors="{required: 'Development team size is required'}">
                        <input type="number" string-to-number oninput="validity.valid||(value='');" name="dts" class="form-control" ng-model="hmc.heatMapPayload.development" maxlength="50" autocomplete="off" required min=0 max=9999 />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Enter the&#013;Development&#013;Team Size" data-toggle="tooltip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Product knowledge:</label>
                </div>
                <div class="col-md-3">
                    <form-group input="pk" errors="{required: 'product knowledge is required',pattern : 'please enter value between [0-3]'}">
                        <input type="number" string-to-number step="0.01" oninput="validity.valid||(value='');" name="pk" class="form-control" ng-model="hmc.heatMapPayload.productKnowledgeIndex" maxlength="50" placeholder="Enter value [0-3]" min=0 max=3 autocomplete="off" max=3/>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Use Product Knowledge assessment&#013;worksheet to assess the Team Product&#013;Knowledge">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Testing team size<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="tts" errors="{required: 'Testing team size is required'}">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="tts" min=0 class="form-control" ng-model="hmc.heatMapPayload.testing" maxlength="50" max=9999 autocomplete="off" required/>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Enter the&#013;Testing&#013; Team Size" data-toggle="tooltip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Requirments<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="req" errors="{required: 'Requirments is required'}">
                        <select name="req" class="form-control fa" ng-model="hmc.heatMapPayload.requirementsStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is there clarity on requirements of&#013;the project? Are the requirements&#013;captured documented,reviewed and&#013;signed off by the customer? Do we&#013;have clear understanding of the&#013;acceptance criteria(FR/NFR)&#013;for the project." data-toggle="tooltip">
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Domain Knowledge<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="dk" errors="{required: 'Domain knowledge is required'}">
                        <select name="dk" class="form-control fa" ng-model="hmc.heatMapPayload.domainKnowlwdgeStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Does the&#013;team have&#013;required&#013;Domain&#013;Knowledge/ &#013;Customer&#013;Business&#013;Knowledge?&#013;Are Gaps&#013;identified and&#013;Training Plan&#013;in place to&#013;fill the Gaps?" data-toggle="tooltip">
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Arcitecture focus<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="af" errors="{required: 'Arcitecture focus is required'}">
                        <select name="af" class="form-control fa" ng-model="hmc.heatMapPayload.architectureFocusStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is the project getting required&#013;Architectural review or support?&#013;Is the architecture documented?" data-toggle="tooltip">
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Design focus<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="df" errors="{required: 'Design focus is required'}">
                        <select name="df" class="form-control fa" ng-model="hmc.heatMapPayload.designFocusStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is design&#013;activity&#013;carried out&#013;separately and&#013;documented?&#013;Is the design&#013;reviewed and&#013;review&#013;comments&#013;tracked to&#013;closure?" data-toggle="tooltip">
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Static code analysis:</label>
                </div>
                <div class="col-md-3">
                    <form-group input="sca" errors="{pattern : 'please enter value between [0-5]'}">
                        <input type="number" string-to-number oninput="validity.valid||(value='');" step=0.01 name="sca" placeholder="Static Code Analysis [0-5]" class="form-control" ng-model="hmc.heatMapPayload.staticCodeAnalysisIndex" maxlength="50" autocomplete="off" min=0 max=5 />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Index= 5*(# of Blocker)+3*&#013; (Critical)+2* (Major)+ 1* (Minor)+ 0.5*&#013;For inherited code we need to make sure &#013; that we baseline the code. Index&#013; would be calculated for new Defects. &#013; Also there needs to be plan in &#013; place to fix the old defects" data-toggle="tooltip">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Manual code review<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="mcr" errors="{required: 'Manual code review is required'}">
                        <select name="mcr" class="form-control fa" ng-model="hmc.heatMapPayload.manualCodeReviewStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is Manual&#013;code review done&#013;and review&#013;defects captured&#013;and tracked&#013;to closure?" data-toggle="tooltip">
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Automated unit testing<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="aut" errors="{required: 'Automated unit testing is required'}">
                        <select name="aut" class="form-control fa" ng-model="hmc.heatMapPayload.automatedUnitTestingStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is Unit Testing being&#013;done in a Formal manner.&#013;If yes are the Test cases&#013;and results recorded?" data-toggle="tooltip">
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Release process<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="rp" errors="{required: 'Release process is required'}">
                        <select name="rp" class="form-control fa" ng-model="hmc.heatMapPayload.releaseProcessStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Is formal&#013;Release&#013;process&#013;being&#013;followed?" data-toggle="tooltip">
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Continous integration:</label>
                </div>
                <div class="col-md-3">
                    <form-group input="ci" errors="{pattern : 'please enter value between [0-5]'}">
                        <input type="number" string-to-number name="ci" oninput="validity.valid||(value='');" step=0.01 class="form-control" ng-model="hmc.heatMapPayload.continuousIntegrationIndex" maxlength="50" placeholder="Enter value [0-5]" autocomplete="off" />
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="5|If there Primary build for&#013;every check in and Build Failure&#013;are monitored.QA takes build generated&#013;by CI 3|If there is Daily Build and&#013;Build Failure is monitored.QA takes build&#013;generated by CI 2|Build is triggered&#013;Manually on Need Basis. QA takes build&#013;generated  by CI 1|Devops setup is&#013;done and not used.0|Manual Build5:&#013;If there Primary build for every check&#013;in and Build Failure are monitored.&#013;QA takes build generated by CI" data-toggle="tooltip">
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Testing process<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="tp" errors="{required: 'Testing process is required'}">
                        <select name="tp" class="form-control fa" ng-model="hmc.heatMapPayload.testingProcessStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
            </div>
            <div class="col-md-1">
                <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                title="Are test cases&#013;captured and&#013;linked to&#013;requirements?&#013;Are test results&#013;formally&#013;documented?&#013;Are we using&#013;defect&#013;management&#013;system&#013;effectively?" data-toggle="tooltip">
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Performance assessment(%):</label>
                </div>
                <div class="col-md-3">
                    <form-group input="pa">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="pa" class="form-control" ng-model="hmc.heatMapPayload.performanceAssessmentPercentage" maxlength="50" autocomplete="off" min=0 max=100 />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Number of Performance Goals&#013;Compliant/Total Number of&#013;Performance Goals" data-toggle="tooltip">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Security assessment:</label>
                </div>
                <div class="col-md-3">
                    <form-group input="sa" errors="{pattern : 'please enter value between [0-5]'}">
                        <input type="number" string-to-number name="sa" oninput="validity.valid||(value='');" step=0.01 class="form-control" ng-model="hmc.heatMapPayload.securityAssessmentIndex" maxlength="50" placeholder="Enter value [0-5]" min=0 max=5 autocomplete="off" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Index=5*&#013;(# of Blocker)&#013;+3*(Critical)+&#013;2*(Major)+&#013;1*(Minor)+&#013;0.5*(Trivial)/&#013;(#of defects). &#013;Note: For&#013;inherited code&#013;we need to &#013;make sure that &#013;we baseline the&#013;code.Index&#013;would be&#013;calculated for&#013;new Defects. &#013;Also there &#013;needs to be &#013;plan in place to&#013;fix the old&#013;defects." data-toggle="tooltip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Test automation(%):</label>
                </div>
                <div class="col-md-3">
                    <form-group input="ta">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="ta" class="form-control" ng-model="hmc.heatMapPayload.testAutomationPercentage" maxlength="50" autocomplete="off" min=0 max=100 />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Is Unit Testing being done&#013;in a Formal manner. If&#013;yes are the Test cases and&#013;results recorded?" data-toggle="tooltip">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Code coverage(%):</label>
                </div>
                <div class="col-md-3">
                    <form-group input="cc">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="cc" class="form-control" ng-model="hmc.heatMapPayload.codeCoveragePercentage" maxlength="50" autocomplete="off" min=0 max=100 />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Percentage&#013;Code&#013;Coverage" data-toggle="tooltip">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Metrics<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="metrics" errors="{required: 'Metrics is required'}">
                        <select name="metrics" class="form-control fa" ng-model="hmc.heatMapPayload.metricsStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Are adequate metrics being&#013;captured for the project?&#013;Do we review the metrics&#013;with customer?" data-toggle="tooltip">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Customer WSR<span style="color:red">*</span></label>
                </div>
                <div class="col-md-3">
                    <form-group input="cwsr" errors="{required: 'Customer WSR is required'}">
                        <select name="cwsr" class="form-control fa" ng-model="hmc.heatMapPayload.customerWSRStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" 
                    title="Are Customer&#013;weekly status&#013;report shared&#013;with the&#013;customer on&#013;weekly basis?" data-toggle="tooltip">
                </div>
            </div>
        </div>
        <div class="col-md-6 fa" style="padding-top:10px;">
            <div class="col-md-2">
                <div class="col-md-1">
                    <div value="Green" style="color:#008000">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Green-Done | Is the process&#013;carried out on a regular basis? |&#013;Sufficient
                  artifacts are available |&#013;Process has been reviewed" data-toggle="tooltip">
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-2">
                    <div value="Amber" style="color:#FFBF00">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Amber-WIP | Process is carried&#013;out on sporadic basis.&#013;Implementation
                  is not uniform&#013;across the team | Required&#013;artifacts are absent or not&#013;updated on a regular basis |&#013;There are known weaknesses in&#013;the process and needs to be improved" data-toggle="tooltip">
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-1">
                    <div value="Red" style="color:#FF0000">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon" title="Not implemented-Not Done&#013;| Process is not initiated in the&#013;project|Required artifacts are not&#013;captured or saved| No other evidence&#013;to support the implementation" data-toggle="tooltip">
                </div>
            </div>
        </div>
        <form-group>
            <div class="button-row row" style="padding-left: 12px;">
                <button type="submit" class="btn btn-info green-btn-props project-map-add-btn" style="padding-top: 5px;margin-top: 0px;">Create</button>
                <button type="button" class="btn btn-default white-cancel-btn" style="padding-top: 3px;margin-left: 20px;" ng-click="$close()">Cancel</button>
            </div>
        </form-group>
    </form>
    <div class="" ng-click="hmc.hideForm()">
        <hr>
        <span ng-if="hmc.prevHeader" style="cursor: pointer;">
                  <img src="assets/images/arrow_right.png" style="vertical-align: sub"> View list of Heat Map</span>
        <div class="scrollbar-processor-allpages heat-map-scroll-height" ng-if="hmc.prevousText">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="font-weight:400;font-size:11px">
                        <th>Selected Month</th>
                        <th ng-repeat="heatmap in hmc.heatMapDetails">
                            <span>{{heatmap.submissionDate}}</span>
                            <span ng-click="hmc.updateHeatMap(heatmap)">
                                                <svg version="1.1" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;"
                                                      xml:space="preserve">
                                                      <style type="text/css">
                                                            .stedit0 {
                                                                  fill: #404041;
                                                            }
                                                      </style>
                                                      <defs></defs>
                                                      <path class="stedit0" d="M18.3,0.7C17.8,0.3,17.2,0,16.5,0c-0.7,0-1.3,0.3-1.8,0.7l-1,1L1.2,14.2c0,0,0,0,0,0c0,0,0,0.1-0.1,0.1
                              c0,0,0,0,0,0c0,0,0,0,0,0.1L0,18.5c0,0.1,0,0.3,0.1,0.4C0.2,19,0.3,19,0.4,19c0,0,0.1,0,0.1,0l4.1-1.1c0,0,0,0,0.1,0c0,0,0,0,0,0
                              c0,0,0.1,0,0.1-0.1c0,0,0,0,0,0L17.3,5.3l1-1C18.7,3.8,19,3.2,19,2.5C19,1.8,18.7,1.2,18.3,0.7z M1,18l0.7-2.7l2,2L1,18z M4.5,16.9
                              l-2.4-2.4L14,2.6L16.4,5L4.5,16.9z M17.7,3.7L17,4.4L14.6,2l0.7-0.7C15.6,1,16,0.8,16.5,0.8c0.5,0,0.9,0.2,1.2,0.5
                              C18.3,2,18.3,3.1,17.7,3.7z" />
                                                </svg>
                                          </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-props">
                        <td>Team Size(Development/Testing)</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.teamSize.development}} / {{val.projectHeatmapData.teamSize.testing}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Static Code Analysis</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.staticCodeAnalysis.staticCodeAnalysisIndex}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Continous Integration</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.continuousIntegration.continuousIntegrationIndex}}</span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Test Automation</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.testAutomation.testAutomationPercentage}}</span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Domain Knowledge</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.domainKnowledge.domainKnowledgeStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Requirements</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.requirements.requirementsStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Code Coverage</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.codeCoverage.codeCoveragePercentage}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Architrcture Focus</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.architectureFocus.architectureFocusStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Security Assessment</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.securityAssessment.securityAssessmentIndex}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Automated Unit Testing</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class=" {{val.projectHeatmapData.automatedUnitTesting.automatedUnitTestingStatus}}-color"></span>
                            <!--  {{val.projectHeatmapData.automatedUnitTesting.automatedUnitTestingStatus}} -->
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Metrics Status</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.metrics.metricsStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Design Focus</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.designFocus.designFocusStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Testing Process</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.testingProcess.testingProcessStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Release Process</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.releaseProcess.releaseProcessStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Customer WSR</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.customerWSR.customerWSRStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Performance Assessment</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.performanceAssessment.performanceAssessmentPercentage}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Manual Code Review</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.manualCodeReview.manualCodeReviewStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Product Knowledge</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.productKnowledge.productKnowledgeIndex}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-click="hmc.showForm()">
        <span ng-if="!hmc.prevHeader" style="cursor: pointer;">
                  <img src="assets/images/arrow_right.png" style="vertical-align: sub"> Add Heat Map</span>
    </div>
</widget-modal>