<div id="auth" class="" style="background-image: url('assets/images/bg_login2.jpg');padding-top: 10px;">
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
            </div>
            <div class="main-login main-center">
                <div>
                    <img src="assets/images/emu-4a.png" class="emu-logo-props">
                </div>
                <div class="emu-header-props">Engineering Metrics Unified</div>
                <form class="form-horizontal" id="lg" name="lg" ng-submit="login.doLogin(lg.$valid)" role="form" novalidate>
                    <form-group input="username" style="padding-top: 50px;" errors="{required: 'Username or email is required', invalidUsernamePassword: 'Incorrect username or password'}">
                        <label for="name" class="cols-sm-2 control-label upper-label-props">Username or email</label>
                        <div class="cols-sm-10">
                            <div class="input-group inputgroup-props">
                                <input type="text" name="username" class="form-control inputbox-props" ng-model="login.username" required minlength="4" autocomplete="off" placeholder="Username or email" />
                            </div>
                        </div>
                    </form-group>
                    <form-group input="password" errors="{required:'Password is required'}">
                        <label for="email" class="cols-sm-2 control-label upper-label-props">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group inputgroup-props">
                                <input type="password" name="password" class="form-control inputbox-props" ng-model="login.password" required placeholder="Password" />
                            </div>
                        </div>
                    </form-group>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary signIn-signup-btn-props" style="">Sign in</button>
                    </div>
                    <div class="">
                        <p style="color:#000;">Don't have an account? <span ng-click="login.doSignup()" class="creatnew-login-label-props">Create account</span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 footer-padding-props">
            <span class="poweredBy-label-specs">Powered By</span> &nbsp&nbsp&nbsp&nbsp&nbsp<img src="assets/images/happiest_mind_logo.png" class="" style="width: 130px;">
        </div>
    </div>