<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="assets/css/main.css">
      <title>Admin</title>
   </head>
   <body>
      <div id="auth" class="" style="background-image: url('assets/images/bg_login2.jpg');padding-top: 10px;">
         <div class="container">
            <div class="row main">
               <div class="panel-heading">
                  <!--  <div class="panel-title text-center"> 
                     <img src="assets/images/happiest_mind_logo.png" class="" style="width:144px;height:50px;">
                     </div> -->
               </div>
               <div class="main-login main-center">
                  <div>
                     <img src="assets/images/emu-4a.png" class="emu-logo-props">
                  </div>
                  <div class="emu-header-props">Engineering Metrics Unified</div>
                  <form class="form-horizontal" name="suf"  ng-submit="signup.doSignup(suf.$valid)" role="form" novalidate>
                     <div class="alert alert-success" ng-if="signup.userCreated">
                        <span style="margin-left: 35px;">User created successfully</span>
                     </div>
                     <form-group input="id" style="padding-top: 10px;" errors="{exists:'User already exists', required:'Username is required',minlength: 'Username should be of minimum 4 characters'}">
                        <label for="name" class="cols-sm-2 control-label upper-label-props">Username or email</label>
                        <div class="cols-sm-10">
                           <div class="input-group inputgroup-props">
                              <input type="text"  class="form-control inputbox-props" ng-model="signup.id" minlength="4" name="id" placeholder="Username or email" autocomplete="off" required />
                           </div>
                        </div>
                     </form-group>
                     <form-group input="password" errors="{required: 'Password is required', minlength: 'Password should be of minimum of 6 characters'}">
                        <label for="email" class="cols-sm-2 control-label upper-label-props">Password</label>
                        <div class="cols-sm-10">
                           <div class="input-group inputgroup-props">
                              <input type="password" name="password" class="form-control inputbox-props" ng-model="signup.password" minLength=6  placeholder="Password" required/>
                           </div>
                        </div>
                     </form-group>
                     <form-group input="confirm" errors="{match: 'Passwords do not match!'}">
                        <label for="email" class="cols-sm-2 control-label upper-label-props">Confirm password</label>
                        <div class="cols-sm-10">
                           <div class="input-group inputgroup-props">
                              <input type="password"  class="form-control inputbox-props" ng-model="signup.confirm" required match="signup.password" name="confirm" placeholder="Confirm password" />
                           </div>
                        </div>
                     </form-group>
                     <div class="form-group ">
                        <button type="submit" class="btn btn-primary signIn-signup-btn-props">
                        Sign up
                        </button>
                     </div>
                     <div class="">
                        <p style="color:#000;">Already have an account? <span ng-click="signup.doLogin()" class="creatnew-login-label-props">Sign in</span></p>
                        <!--  <a href="index.php">Dont have an Account?</a> -->
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-md-12">
               <div class="col-md-4"></div>
               <div class="col-md-4 footer-padding-props">
                  <span class="poweredBy-label-specs">Powered By</span>&nbsp&nbsp&nbsp&nbsp&nbsp<img src="assets/images/happiest_mind_logo.png" class="" style="width: 130px;">
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="assets/js/bootstrap.js"></script>
   </body>
</html>