<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <!-- Website Font style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
  </head>
  <body>
  <div id="auth" class="" style="background-image: url('assets/images/bg_login2.jpg');padding-top: 10px;">
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                <!--  <div class="panel-title text-center"> 
                    <img src="assets/images/happiest_mind_logo.png" class="" style="width:144px;height:50px;">
                  </div> -->
              </div> 
        <div class="main-login main-center">
        <div class="" style="font-size: 35px;color: #E5E5E5">
           <img src="assets/images/emu-4a.png" style="height: 70px;
    width: 70px;">
        </div>
         <div class="" style="font-size: 15px;color: #848484;font-weight: 600">Engineering Metrics Unified</div>
          <form class="form-horizontal" name="suf"  ng-submit="signup.doSignup(suf.$valid)" role="form" novalidate>
            <div class="alert alert-success" ng-if="signup.userCreated">
                    User created successfully
                </div>
            <form-group input="id" style="padding-top: 10px;" errors="{exists:'User already exists', required:'Username is required',minlength: 'Username should be of minimum 4 characters'}">
              <label for="name" class="cols-sm-2 control-label" style="font-weight: normal;color: #999999">Username</label>
              <div class="cols-sm-10">
                <div class="input-group" style="width: 100%">
                
                  <input type="text"  class="form-control" ng-model="signup.id" minlength="4" name="id" placeholder="Enter your username" autocomplete="off" required style="border-radius:1px;" />

                  
                </div>
              </div>
           </form-group>

           <form-group input="password" errors="{required: 'Password is required', minlength: 'Password should be of minimum of 6 characters'}">
              <label for="email" class="cols-sm-2 control-label" style="font-weight: normal;color: #999999">Password</label>
              <div class="cols-sm-10">
                <div class="input-group" style="width: 100%">
             
                  <input type="password" name="password" class="form-control" ng-model="signup.password" minLength=6  placeholder="Enter your password" required style="border-radius:1px;" />
                  
                </div>
              </div>
            </form-group>

             <form-group input="confirm" errors="{match: 'Passwords do not match!'}">
              <label for="email" class="cols-sm-2 control-label" style="font-weight: normal;color: #999999">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group" style="width: 100%">
                
                  <input type="password"  class="form-control" ng-model="signup.confirm" required match="signup.password" name="confirm" placeholder="Confirm password" style="border-radius:1px;" />
                  
                </div>
              </div>
            </form-group>

           <div class="form-group ">
                    <button type="submit" class="btn btn-primary" style="background: #1766A4;border: #1766A4;box-shadow: none;font-size: 12px;border-radius: 3px;font-weight: normal;">
                    Sign up
                    </button>
                </div>
              
                  <div class="">
             <p style="color:#000;">Already have an account? <span ng-click="signup.doLogin()" style="color: #3B7EB2;cursor: pointer;">Log in</span></p>
                   <!--  <a href="index.php">Dont have an Account?</a> -->
                 </div>
           


       
          </form>
        </div>
      </div>
      <div class="col-md-12">
  <div class="col-md-4"></div>
  
  <div class="col-md-4" style="padding-left: 8%;padding-top: 2%;">
  <span style="color: #000;">Powered By</span>&nbsp&nbsp&nbsp&nbsp&nbsp<img src="assets/images/happiest_mind_logo.png" class="" style="width: 130px;">
  </div>
    </div>
    </div>
  
</div>

    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
  </body>
</html>