<widget-modal class="border-prop-modals">
    <form name="uhc.updateHeatMapPage" class="form" ng-submit="uhc.updateHeatMap()" novalidate>
        <div class="widget-modal-heading">{{uhc.title}}</div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Submission month
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="dashboardTitle" errors="{required: 'Month is required'}">
                        <input type="text" name="dashboardTitle" class="form-control" ng-model="uhc.updateHeatmapPayload.submissionDate" maxlength="50"
                            autocomplete="off" minlength="6" disabled required/>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Date of Submission month">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Development team size
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="dts" errors="{required: 'Development team size is required'}">
                        <input type="number" string-to-number oninput="validity.valid||(value='');" name="dts" class="form-control" ng-model="uhc.updateHeatmapPayload.development"
                            maxlength="50" autocomplete="off" min=0 max=9999 required/>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Development Team Size">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Product knowledge</label>
                </div>
                <div class="col-md-3">
                    <form-group input="pk" errors="{required: 'product knowledge is required',pattern : 'please enter value between [0-3]'}">
                        <input type="number" string-to-number step="0.01" oninput="validity.valid||(value='');" name="pk" class="form-control" ng-model="uhc.updateHeatmapPayload.productKnowledgeIndex"
                            maxlength="50" placeholder="Enter value [0-3]" ng-pattern="/^([0-2]){1}(\.[0-9]{1,2})?$|^[0-3]$/" autocomplete="off" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Use Product Knowledge assessment worksheet to assess the Team Product Knowledge">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Testing team size
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="tts" errors="{required: 'Testing team size is required'}">
                        <input type="number" string-to-number oninput="validity.valid||(value='');" name="tts" class="form-control" ng-model="uhc.updateHeatmapPayload.testing"
                            maxlength="50" autocomplete="off" min=0 max=9999 required/>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Testing Team Size">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Requirments
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="req" errors="{required: 'Requirments is required'}">
                        <select name="req" class="form-control fa" ng-model="uhc.updateHeatmapPayload.requirementsStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is there clarity on requirements of the project? Are the requirements captured documented,reviewed and signed off by the customer? Do we have clear understanding of the acceptance criteria(FR/NFR) for the project.">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Domain knowledge
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="dk" errors="{required: 'Domain knowledge is required'}">
                        <select name="dk" class="form-control fa" ng-model="uhc.updateHeatmapPayload.domainKnowlwdgeStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Does the team have required Domain Knowledge/Customer Business Knowledge? Are Gaps identified and Training Plan in place to fill the Gaps?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Arcitecture focus
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="af" errors="{required: 'Arcitecture focus is required'}">
                        <select name="af" class="form-control fa" ng-model="uhc.updateHeatmapPayload.architectureFocusStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is the project getting required Architectural review or support? Is the architecture documented?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Design focus
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="df" errors="{required: 'Design focus is required'}">
                        <select name="df" class="form-control fa" ng-model="uhc.updateHeatmapPayload.designFocusStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is design activity carried out separately and documented? Is the design reviewed and review comments tracked to closure?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Static code analysis</label>
                </div>
                <div class="col-md-3">
                    <form-group input="sca" errors="{pattern : 'please enter value between [0-5]'}">
                        <input type="number" string-to-number oninput="validity.valid||(value='');" step=0.01 name="sca" ng-model="uhc.updateHeatmapPayload.staticCodeAnalysisIndex"
                            class="form-control" ng-pattern="/^([0-2]){1}(\.[0-9]{1,4})?$|^[0-5]$/" maxlength="50" autocomplete="off" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Index= 5*(# of Blocker)+3*(Critical)+2* (Major)+ 1* (Minor)+ 0.5*For inherited code we need to make sure that we baseline the code. Index would be calculated for new Defects.Also there needs to be plan in place to fix the old defects">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Manual code review
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="mcr" errors="{required: 'Manual code review is required'}">
                        <select name="mcr" class="form-control fa" ng-model="uhc.updateHeatmapPayload.manualCodeReviewStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is Manual code review done and review defects captured and tracked to closure?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Automated unit testing
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="aut" errors="{required: 'Automated unit testing is required'}">
                        <select name="aut" class="form-control fa" ng-model="uhc.updateHeatmapPayload.automatedUnitTestingStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is Unit Testing being done in a Formal manner.If yes are the Test cases and results recorded?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Code coverage(%)</label>
                </div>
                <div class="col-md-3">
                    <form-group input="cc" errors="{pattern: 'Enter the value between 0 to 100'}">
                        <input type="number" string-to-number name="cc" oninput="validity.valid||(value='');" class="form-control" ng-model="uhc.updateHeatmapPayload.codeCoveragePercentage"
                            maxlength="50" autocomplete="off" ng-pattern="/^([0-9]|[1-9][0-9]|100)$/" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Percentage Code Coverage">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Continous integration</label>
                </div>
                <div class="col-md-3">
                    <form-group input="ci" errors="{pattern: 'please enter value between [0-5]'}">
                        <input type="number" string-to-number name="ci" step=0.01 oninput="validity.valid||(value='');" class="form-control" ng-model="uhc.updateHeatmapPayload.continuousIntegrationIndex"
                            placeholder="Enter value [0-5]" ng-pattern="/^([0-4]){1}(\.[0-9]{1,2})?$|^[0-5]$/" maxlength="50" autocomplete="off" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="5|If there Primary build for every check in and Build Failure are monitored.QA takes build generated by CI 3|If there is Daily Build and Build Failure is monitored.QA takes build generated by CI 2|Build is triggered Manually on Need Basis. QA takes build generated  by CI 1|Devops setup is done and not used.0|Manual Build5: If there Primary build for every check in and Build Failure are monitored.QA takes build generated by CI">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Testing process
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="tp" errors="{required: 'Testing process is required'}">
                        <select name="tp" class="form-control fa" ng-model="uhc.updateHeatmapPayload.testingProcessStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Are test cases captured and linked to requirements? Are test results formally documented? Are we using defect management system effectively?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Performance assessment(%)</label>
                </div>
                <div class="col-md-3">
                    <form-group input="pa" errors="{pattern: 'Enter the value between 0 to 100'}">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="pa" class="form-control" ng-model="uhc.updateHeatmapPayload.performanceAssessmentPercentage"
                            maxlength="50" autocomplete="off" ng-pattern="/^([0-9]|[1-9][0-9]|100)$/" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Number of Performance Goals Compliant/Total Number of Performance Goals">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Security assessment</label>
                </div>
                <div class="col-md-3">
                    <form-group input="sa" errors="{pattern : 'please enter value between [0-5]'}">
                        <input type="number" string-to-number name="sa" oninput="validity.valid||(value='');" step=0.01 class="form-control" ng-model="uhc.updateHeatmapPayload.securityAssessmentIndex"
                            maxlength="50" placeholder="Enter value [0-5]" ng-pattern="/^([0-4]){1}(\.[0-9]{1,2})?$|^[0-5]$/" autocomplete="off" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Index=5*(# of Blocker)+3*(Critical)+2*(Major)+1*(Minor)+0.5*(Trivial)/(#of defects).Note: For inherited code we need to make sure that we baseline the code.Index would be calculated for new Defects.Also there needs to be plan in place to fix the old defects.">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Test automation(%)</label>
                </div>
                <div class="col-md-3">
                    <form-group input="ta" errors="{pattern: 'Enter the value between 0 to 100'}">
                        <input oninput="validity.valid||(value='');" string-to-number type="number" name="ta" class="form-control" ng-model="uhc.updateHeatmapPayload.testAutomationPercentage"
                            maxlength="50" autocomplete="off" ng-pattern="/^([0-9]|[1-9][0-9]|100)$/" />
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is Unit Testing being done in a Formal manner. If yes are the Test cases and results recorded?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Release process
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="rp" errors="{required: 'Release process is required'}">
                        <select name="rp" class="form-control fa" ng-model="uhc.updateHeatmapPayload.releaseProcessStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Is formal Release process being followed?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Metrics
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="metrics" errors="{required: 'Metrics is required'}">
                        <select name="metrics" class="form-control fa" ng-model="uhc.updateHeatmapPayload.metricsStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Are adequate metrics being captured for the project? Do we review the metrics with customer?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label class="control-label createproj-label-props">Customer WSR
                        <span style="color:red">*</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <form-group input="cwsr" errors="{required: 'Customer WSR is required'}">
                        <select name="cwsr" class="form-control fa" ng-model="uhc.updateHeatmapPayload.customerWSRStatus" required>
                            <option value="" disabled selected hidden></option>
                            <option value="Green" style="color:#008000">
                                &#xf1fc; Green
                            </option>
                            <option value="Amber" style="color:#FFBF00">
                                &#xf1fc; Amber
                            </option>
                            <option value="Red" style="color:#FF0000">
                                &#xf1fc; Red
                            </option>
                            <option value="NA">
                                &#xf1fc; NA
                            </option>
                        </select>
                    </form-group>
                </div>
                <div class="col-md-1">
                    <span alt="Are Customer weekly status report shared with the customer on weekly basis?">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 fa" style="padding-top:10px;">
            <div class="col-md-2">
                <div class="col-md-1">
                    <div value="Green" style="color:#008000">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <span alt2="Green-Done|Is the process carried out on a regular basis?|Sufficient
                        artifacts are available|Process has been reviewed">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-2">
                    <div value="Amber" style="color:#FFBF00">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <span alt2="Amber-WIP|Process is carried out on sporadic basis.Implementation
                        is not uniform across the team | Required artifacts are absent or not updated on a regular basis|There are known weaknesses in the process and needs to be improved">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-1">
                    <div value="Red" style="color:#FF0000">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <span alt2="Not implemented-Not Done|Process is not initiated in the project|Required artifacts are not captured or saved| No other evidence to support the implementation">
                        <img src="assets/images/helptext_icon.png" class="widget-page-settings-icon">
                    </span>
                </div>
            </div>

             <div class="col-md-2">
                <div class="col-md-1">
                    <div value="NA">
                        &#xf1fc;
                    </div>
                </div>
                <div class="col-md-1">
                    <span alt2="Process is not initiated in the project so its not Applicable">
                        <img src="assets/images/helptext_icon.png"
                        class="widget-page-settings-icon">

                    </span>
                </div>
            </div>
        </div>
        <form-group>
            <div class="button-row row" style="padding-left: 12px;">
                <button type="submit" class="btn btn-info green-btn-props project-map-add-btn" style="padding-top: 5px;margin-top: 0px;">Update</button>
                <button type="button" class="btn btn-default white-cancel-btn" style="padding-top: 3px;margin-left: 20px;" ng-click="$close()">Cancel</button>
            </div>
        </form-group>
    </form>
    <div class="" ng-click="hmc.hideForm()">
        <hr>
        <span ng-if="hmc.prevHeader" style="cursor: pointer;">
            <img src="assets/images/arrow_right.png" style="vertical-align: sub"> View list of Heat Map</span>
        <div class="" ng-if="hmc.prevousText">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="font-weight:400;font-size:11px">
                        <th>Selected Month</th>
                        <th ng-repeat="heatmap in hmc.heatMapDetails">
                            <span>{{heatmap.submissionDate | date}}</span>
                            <span ng-click="hmc.updateHeatMap(heatmap)">EDIT</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-props">
                        <td>Domain Knowledge</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.domainKnowledge.domainKnowledgeStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Requirements</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.requirements.requirementsStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Code Coverage</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.codeCoverage.codeCoveragePercentage}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Architrcture Focus</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.architectureFocus.architectureFocusStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Security Assessment</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.securityAssessment.securityAssessmentIndex}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Automated Unit Testing</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.automatedUnitTesting.automatedUnitTestingStatus}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Metrics Status</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.metrics.metricsStatus}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Design Focus</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.designFocus.designFocusStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Testing Process</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.testingProcess.testingProcessStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Release Process</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.releaseProcess.releaseProcessStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Customer WSR</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.customerWSR.customerWSRStatus}}-color"></span>
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Performance Assessment</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            {{val.projectHeatmapData.performanceAssessment.performanceAssessmentPercentage}}
                        </td>
                    </tr>
                    <tr class="font-props">
                        <td>Manual Code Review</td>
                        <td data-ng-repeat="val in hmc.heatMapDetails">
                            <span class="{{val.projectHeatmapData.manualCodeReview.manualCodeReviewStatus}}-color"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-click="hmc.showForm()">
        <span ng-if="!hmc.prevHeader" style="cursor: pointer;">
            <img src="assets/images/arrow_right.png" style="vertical-align: sub"> Add Heat Map</span>
    </div>
</widget-modal>