<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <div class="blue-header" style="height: 50px;
      width:100%;background: #1766A4;min-height: 0px !important">
      <!-- <span class="hamburger-ListdashPage project-map-hamburger" style="margin-left: 2.2%;">
         <svg version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px" y="0px" width="15px" height="9px" viewBox="0 0 15 9" style="overflow:scroll;enable-background:new 0 0 15 9;"
            xml:space="preserve">
            <style type="text/css">
               .stham0{fill:#FFFFFF;}
            </style>
            <defs></defs>
            <g>
               <g>
                  <path class="stham0" d="M0,0h15v1.5H0V0z M0,3.8h15v1.5H0V3.8z M0,7.5h15V9H0V7.5z"/>
               </g>
            </g>
         </svg>
      </span> -->
      <span class="edMenu-ListDash-Page project-map-ed" style="margin-left: 1.9%;">
      <img src="assets/images/emu-5w.png" style="height: 30px;
         width: 30px;">
      </span>
      <span class="edtext-ListdashPage project-map-edText">Engineering Metrics Unified</span>
      <span class="edtext-ListdashPage" style="margin-left:58.5%;margin-top: 15px;">{{umc.usernamepro}}</span>
      <div class="dropdown-logout sign-out-box-specs">
         <div class="abc">
           <!--  <svg version="1.1"
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/"
               x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" style="overflow:scroll;enable-background:new 0 0 20 20;"
               xml:space="preserve">
               <style type="text/css">
                  .stedprofile0{fill:#FFFFFF;}
               </style>
               <defs></defs>
               <g>
                  <g>
                     <path class="stedprofile0" d="M2.9,2.9C4.9,1,7.2,0,10,0s5.1,1,7.1,2.9S20,7.2,20,10S19,15.1,17,17S12.7,20,10,20S4.9,19,2.9,17
                        S0,12.7,0,10S1,4.9,2.9,2.9z M10,17.2c2.5,0,4.5-1.1,6-3.2c0-0.9-0.7-1.6-2.1-2.2s-2.7-0.9-3.9-0.9s-2.5,0.3-3.9,0.9S4,13.1,4,14
                        C5.5,16.1,7.5,17.2,10,17.2z M12.1,3.9C11.5,3.3,10.8,3,10,3S8.5,3.3,7.9,3.9S7,5.2,7,6s0.3,1.5,0.9,2.1S9.2,9,10,9
                        s1.5-0.3,2.1-0.9S13,6.8,13,6S12.7,4.5,12.1,3.9z"/>
                  </g>
               </g>
            </svg> -->
            <img src="assets/images/Group 131.png" class="log-out-icon-size"></td>
         </div>
         <div class="dropdown-contents" style="right: -36px;">
            <!-- <a href="#/userManagement"  ng-click="ctrl.UserManagement()" style="cursor: pointer;">User Management</a> -->
            <a ng-click="umc.logout()" style="cursor: pointer;">Sign out</a>
         </div>
      </div>
   </div>
<div class="black-header" style="height: 80px;min-height:0px;border-bottom:1px solid #b3b3b3;background-image: url('assets/images/bg_page_header.png');">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-7" style="padding-top: 1%;padding-left: 2%;">
        <div class="" style="font-size: 23px;color: #000;">
             User Management</div>
           <!--  <div class="" style="font-size: 14px;">Choose a Project</div> -->
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2" ng-if="currentTab == 'two.tpl.html'">
                <button type="submit" ng-click="umc.openCreateRole()" class="btn btn-info project-map-add-btn" style="font-size: 12px;margin-top: 19px;
    margin-left: 53%;">Create role</button>
            </div>
            </div>
         <div class="row">
        <div class="col-md-12">
        <div class="col-md-4" style="padding-left: 3%;">
       
            <div class="" style="font-size: 14px;color: #4482B2"><a href="#/projects" style="color: #4482B2">All projects</a> <img src="assets/images/arrow_right.png" style="vertical-align: sub;"> <a href="#/site" style="color: #4482B2">All dashboards</a></div>
        
        </div>
        <div class="col-md-6">
          
        </div>
        </div>
    </div>
    </div>
</div>

<div>
    <div id="tabs" style="padding-top: 1%;
    padding-left: 1.8%;">
        <ul class="tab-styling-userManagement">
            <li class="style-forli" ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" style="padding-left: 0px;
    margin-left: 0px;margin-right: 30px;" ng-if="umc.deleteRole || tab.title != 'Users'">{{tab.title}}</li>
        </ul>
        <div id="mainView" style="padding-left: 0px;">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">
           
          
        <div class="col-md-12" style="padding-top: 30px;padding-left: 0px;" ng-repeat="fetchPro in umc.getAllProjects">
      
        <div class="col-md-6" style="padding-left: 0px;">
        
       <div class="expandcollapse-item panel-group">
        <div class="panel-heading col-md-12" style="cursor: pointer;border: 1px solid #d6d6d6;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}"><span class="col-md-11">{{fetchPro.projectName}}</span>
          <span class="col-md-1"><i class="fa fa-chevron-up" aria-hidden="true" ng-if="active"></i>
          <i class="fa fa-chevron-down" aria-hidden="true"  ng-if="!active"></i></span>
        </div>
         <div class="slideDown" ng-hide="!active" style="border: 1px solid #d6d6d6;
    background: #f5f5f5;">

          <div class="expand-collapse-content panel-body col-md-12" ng-repeat="innerItem in fetchPro.usersGroup" >
            <span class="col-md-10">{{innerItem.user}}</span>
            <span class="col-md-2" ng-if="innerItem.user">
            <img src="assets/images/icon_edit.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.editUserPopUp(fetchPro,innerItem.user,fetchPro.id,fetchPro.projectId)" title="Edit" > 
              <img src="assets/images/icon_delete.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteUserPopUp(fetchPro,innerItem.user,fetchPro.id,fetchPro.projectId)" title="Delete">
              </span>
            <span>
               
            </span>
          </div>
        </div>
       </div>
        
        
        </div>
        </div>
        
        </div>
    </script>
    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <div class="col-md-8" style="padding-top: 2%;">
               <!--  <div style="font-size: 14px;font-weight: 600;">
                    Roles
                </div> -->
            </div>
           
          <!--    <div class="col-md-12" style="padding-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-6">
        <div class="col-md-3 project-map-list-header">Role Name</div>
        <div class="col-md-3 project-map-list-header">Created By</div>
        <div class="col-md-3 project-map-list-header">Permissions</div>
        
        
        </div>
        </div> -->
          <!--   <form name="umc.projectDetailBar">
        
                <div class="col-md-12 " ng-repeat="per in umc.getRoles">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 projectBar project-map-bar-prop">
                    
                        <div>
        
                            <div class="col-md-3" ng-attr-title="{{per.roleKey}}" style="">{{per.roleKey}}</div>
        
                            <div class="col-md-3" ng-attr-title="{{per.createdOn}}" style="">{{per.description}}</div>

                             <div class="col-md-4" ng-attr-title="{{per.permissions}}" style="" >{{per.permissions | json}}</div>

                              <span class="" >
                 <img src="assets/images/deleteNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteRoleModel(per)" title="Delete"> 
               </span></span> 
                        </div>
                    </div>
        
                </div>
            </form> -->
            <table class="table table-bordered table-striped" style="width: 99.5%;">
            <thead>
              <tr>
                <th>Role Name</th>
                 <th>Created By</th>
                  <th>Permissions</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="per in umc.getRoles">
              <td>{{per.roleKey}}</td>
               <td>{{per.description}}</td>
               <!--  <td><div ng-repeat="(key, value) in umc.permissions">{{value}}</div></td> -->
                  <td><div ng-repeat="(key, value) in per.permission">{{value}}</div>
                  <div ng-repeat="(key, value) in per.permissions" ng-show="umc.showmorelink" ng-hide="umc.showlesslink">{{value}}</div>
                  <span ng-click="umc.showMoreFlag()" ng-if="umc.onclickmore" style="font-size: 12px;color: #4482B2;cursor: pointer;">Show all</span>

                   <span ng-click="umc.showLessFlag()" ng-if="umc.onclickless" style="font-size: 12px;color: #4482B2;cursor: pointer;">Show less</span>

                  </td>
                 
                <td> 
                <img src="assets/images/icon_edit.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.editRoleModel(per.roleKey,per)" title="Edit" > 
                <img src="assets/images/icon_delete.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteRoleModel(per)" title="Delete" ng-if="umc.deleteRole">
                </td>
               
              <tr>
            </tbody>
              
            </table>
        
        </div>
    </script>

     <script type="text/ng-template" id="three.tpl.html" ng-if="umc.deleteRole">
             <div class="col-md-12" style="padding-top: 30px;padding-left: 0px;" ng-repeat="fetchPro in umc.getAppUsers">
      
        <div class="col-md-8" style="padding-left: 0px;">
        
       <div class="expandcollapse-item panel-group">
        <div class="panel-heading col-md-12" style="cursor: pointer;border: 1px solid #d6d6d6;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}"><span class="col-md-4">{{fetchPro}}</span>
          <span class="col-md-1">
              <!-- <input type="button" name="" ng-click="umc.createGlobalDelivery(fetchPro)" value="Create global"> -->
              <span ng-click="umc.createGlobalDelivery(fetchPro)" ng-attr-title="Create Global Delivery">
                <svg version="1.1"
                x="0px" y="0px" width="22.2px" height="24.1px" viewBox="0 0 22.2 24.1" style="enable-background:new 0 0 22.2 24.1;"
                xml:space="preserve">
<style type="text/css">
                .stglobaldelivery0{fill:#404041;}
</style>
<defs>
</defs>
<path class="stglobaldelivery0" d="M20.2,12.6c-0.2-0.2-0.5-0.5-0.7-0.6c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3-0.2-0.6-0.4-0.9-0.5
                c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.3-0.1c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0
                c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0l-0.1,0c-0.1,0-0.1,0-0.2,0
                c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0l0,0c0,0,0,0,0,0h-0.1c0,0-0.1,0-0.1,0l0,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0l-0.1,0
                c-0.1,0-0.2,0-0.3,0l-0.1,0c-0.1,0-0.2,0-0.2,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0l0,0.2l-0.1-0.1
                c-0.1,0-0.2,0-0.3,0.1l0,0c-0.1,0-0.2,0.1-0.3,0.1c-0.4,0.2-0.9,0.4-1.3,0.6c0,0,0.1-0.1,0.1-0.1c1.4-1,2.2-2.6,2.2-4.3V4.4
                c0-1.5-0.7-2.7-1.9-3.4c0,0-1-0.5-1-0.5c-0.2-0.1-0.5-0.2-0.7-0.2C10,0.1,9.4,0,8.9,0C8.4,0,7.8,0.1,7.3,0.2C5,0.8,3.7,2.3,3.7,4.4
                v2.9c0,1.7,0.8,3.3,2.2,4.3c0.2,0.2,0.4,0.5,0.4,0.8v0.2c0,0.3-0.2,0.6-0.5,0.8l-4.9,2.8C0.3,16.4,0,17,0,17.7v1.5
                c0,0.6,0.5,1.1,1.1,1.1h8.2c0,0,0,0,0,0c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.2
                c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.2,0.3,0.3,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.2,0.1,0.2,0.2c0.1,0.1,0.1,0.1,0.2,0.2
                c0.3,0.2,0.6,0.5,0.9,0.6c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.2,0.1,0.4,0.2,0.7,0.3c0.1,0,0.2,0.1,0.3,0.1
                c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3,0.1l0.1,0c0.1,0,0.2,0,0.3,0.1v0l0,0c0.1,0,0.2,0,0.3,0l0.1,0c0.1,0,0.2,0,0.3,0
                c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1,0h0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0
                c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.2,0c0.1,0,0.3-0.1,0.4-0.1l0.2-0.1c0.7-0.2,1.3-0.5,1.9-0.9c0.1,0,0.2-0.1,0.2-0.2
                c0.3-0.2,0.5-0.4,0.7-0.6c1.3-1.3,2-3,2-4.8C22.2,15.6,21.5,13.9,20.2,12.6z M20.3,14.1c0.1,0.2,0.2,0.3,0.3,0.5
                c0.1,0.3,0.3,0.5,0.3,0.8l0,0c0.1,0.2,0.1,0.3,0.2,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.1,0,0.2c0,0.2,0.1,0.4,0.1,0.6h-2.4
                c0-0.9-0.2-1.7-0.5-2.5l1.8-0.5C20.3,14,20.3,14,20.3,14.1z M17,11.7c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.3,0.1
                c0.3,0.1,0.6,0.2,0.8,0.4c0.1,0,0.1,0.1,0.2,0.1c0.4,0.2,0.7,0.5,1,0.8L18,13.6c-0.4-0.7-0.8-1.4-1.4-2C16.8,11.6,16.9,11.6,17,11.7
                z M17.6,16.9h-1.1h-3.7c0-0.7,0.2-1.3,0.4-1.9c0-0.2,0.1-0.3,0.2-0.4l0.8,0l3.4,0c0.3,0.8,0.5,1.6,0.5,2.4H17.6z M18.1,17.8
                c0,0.8-0.2,1.6-0.5,2.4l-0.4,0l-3.8,0c-0.1-0.3-0.2-0.5-0.2-0.8c-0.1-0.5-0.2-1.1-0.3-1.6h4.1h0.9H18.1z M15,11.9L15,11.9
                c0.1-0.1,0.3-0.3,0.4-0.4c0.1,0.1,0.3,0.2,0.4,0.4c0.5,0.5,0.9,1.1,1.3,1.7h-3.4C14.1,13,14.5,12.4,15,11.9z M11.9,12.6
                c0.1-0.1,0.2-0.1,0.2-0.2c0.1-0.1,0.2-0.1,0.2-0.2c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.3-0.1
                c0.2-0.1,0.4-0.2,0.7-0.2c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3-0.1c-0.5,0.6-1,1.3-1.4,2c0,0.1-0.2,0.5-0.4,0.9c0,0,0,0,0,0.1
                c-0.3,0.8-0.4,1.6-0.5,2.4H9.5c0-0.7,0.2-1.3,0.4-1.9L9.8,15l0.1,0.1c0-0.1,0.1-0.1,0.1-0.2c0.1-0.3,0.3-0.6,0.5-0.9l0,0
                c0,0,0.2-0.4,0.7-0.9l0,0c0,0,0,0,0.1-0.1c0,0,0,0,0,0l0,0c0,0,0,0,0.1-0.1l0,0c0,0,0.1-0.1,0.2-0.1c0,0,0,0,0.1,0
                C11.7,12.7,11.8,12.7,11.9,12.6z M9.4,14.4c-0.1,0.1-0.1,0.3-0.2,0.4c0,0.1-0.1,0.2-0.1,0.2c-0.2,0.4-0.3,0.8-0.3,1.3
                c0,0.1,0,0.2,0,0.2c0,0.2,0,0.5,0,0.8s0,0.5,0,0.8c0,0.1,0,0.2,0,0.2c0.1,0.3,0.1,0.7,0.2,1H1.1c-0.1,0-0.2-0.1-0.2-0.2v-1.5
                c0-0.3,0.2-0.6,0.5-0.8L6.2,14c0.6-0.3,0.9-0.9,0.9-1.5v-0.2c0-0.6-0.3-1.1-0.8-1.5C5.2,10,4.5,8.7,4.5,7.3V4.4c0-2.1,1.6-3,3-3.3
                C8,0.9,8.4,0.9,8.9,0.9c0.5,0,0.9,0.1,1.4,0.2c1.1,0.3,3,1.1,3,3.3v2.9c0,1.4-0.7,2.7-1.8,3.6c-0.5,0.3-0.8,0.9-0.8,1.5v0.2
                c0,0,0,0,0,0.1c0,0,0,0-0.1,0c-0.1,0.1-0.2,0.2-0.2,0.2c-0.1,0.2-0.3,0.3-0.4,0.5c-0.1,0.1-0.1,0.2-0.2,0.3
                c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3C9.4,14.2,9.4,14.3,9.4,14.4z M10.7,20.9c-0.1-0.2-0.2-0.3-0.3-0.5l0,0
                c0,0-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3c-0.2-0.5-0.3-1-0.3-1.6
                H12c0,0.5,0.1,1.1,0.2,1.6c0.1,0.3,0.2,0.6,0.3,0.9c0,0,0,0,0,0.1L10.7,20.9z M13.9,23.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0
                c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.6-0.3-1.2-0.7-1.6-1.1l1.5-0.5c0.4,0.8,0.8,1.4,1.4,2
                C14.1,23.1,14,23.1,13.9,23.1z M15.9,22.8c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1-0.1-0.3-0.2-0.4-0.4c-0.5-0.5-1-1.1-1.3-1.8h3.4
                C16.8,21.7,16.4,22.3,15.9,22.8z M21.3,18.4L21.3,18.4c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.3c0,0.2-0.1,0.3-0.2,0.5
                c-0.1,0.3-0.2,0.5-0.3,0.8c0,0.1-0.1,0.1-0.1,0.2l0,0c-0.1,0.1-0.1,0.2-0.2,0.3l0,0c0,0-0.3,0.4-0.8,0.9l0,0
                c-0.4,0.4-0.8,0.7-1.2,0.9c-0.2,0.1-0.3,0.2-0.5,0.2c-0.4,0.2-0.7,0.3-1.1,0.4c0,0,0,0,0,0c0.5-0.6,1-1.3,1.4-2l0,0
                c0,0,0.4-0.8,0.5-1.3l0,0c0.2-0.7,0.3-1.4,0.4-2.1h2.4C21.3,18,21.3,18.2,21.3,18.4z"/>
</svg>

              </span>
          </span>
          <span class="col-md-1" ng-attr-title="Revoke User">
          <span ng-click="umc.revokeAppUser(fetchPro)">
            <svg version="1.1"
                x="0px" y="0px" width="21.2px" height="22.9px" viewBox="0 0 21.2 22.9" style="enable-background:new 0 0 21.2 22.9;"
                xml:space="preserve">
<style type="text/css">
                .strevoke0{fill:#404041;}
</style>
<defs>
</defs>
<g>
                <path class="strevoke0" d="M20.1,13.7c-0.1,0.2,0.1,0.5,0.3,0.5c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.4-0.3c0.2-0.8,0.3-1.6,0.3-2.5
                                c0-5.8-4.8-10.6-10.6-10.6c-1.8,0-3.5,0.4-5,1.3L3.7,0.2C3.5,0.1,3.4,0,3.2,0C2.9,0,2.6,0.2,2.6,0.5L1.3,6.1c0,0.2,0,0.4,0.1,0.5
                                c0.1,0.1,0.3,0.2,0.5,0.2c0,0,0.1,0,0.1,0l5.6-1.2c0.2-0.1,0.4-0.2,0.5-0.5c0.1-0.2,0-0.5-0.2-0.6L6.2,2.7c1.4-0.7,2.9-1,4.4-1
                                c5.4,0,9.7,4.4,9.7,9.7C20.3,12.2,20.3,13,20.1,13.7z M7.1,4.8L2.3,5.9l1.1-4.8L7.1,4.8z"/>
                <path class="strevoke0" d="M0,11.4C0,17.3,4.8,22,10.6,22c1.7,0,3.4-0.4,4.9-1.2l1.9,1.9c0.1,0.1,0.3,0.2,0.4,0.2h0
                                c0.3,0,0.6-0.2,0.6-0.5l1.2-5.6c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.3-0.2-0.5-0.2c0,0-0.1,0-0.1,0l-5.6,1.2c-0.2,0.1-0.4,0.2-0.5,0.5
                                c-0.1,0.2,0,0.5,0.2,0.6l1.7,1.7c-1.3,0.6-2.8,1-4.3,1c-5.4,0-9.7-4.4-9.7-9.7c0-0.8,0.1-1.5,0.3-2.2C1.2,9,1,8.7,0.8,8.7
                                C0.6,8.6,0.3,8.8,0.3,9C0.1,9.8,0,10.6,0,11.4z M16,20.1C16,20.1,16,20.1,16,20.1c0-0.1-0.1-0.1-0.2-0.2L14,18.1l4.8-1.1l-1.1,4.8
                                L16,20.1z"/>
</g>
</svg>

          </span>
              <!-- <input type="button" name="" ng-click="umc.revokeAppUser(fetchPro)" value="Revoke User"> -->
          </span>
            <span class="col-md-1">
              <!-- <input type="button" name="" ng-click="umc.createGlobalDeliverySysAdmin(fetchPro)" value="Create global sys"> -->
              <span ng-click="umc.createGlobalDeliverySysAdmin(fetchPro)" ng-attr-title="Create System Admin">
                <svg version="1.1"
                x="0px" y="0px" width="22.1px" height="24.1px" viewBox="0 0 22.1 24.1" style="enable-background:new 0 0 22.1 24.1;"
                xml:space="preserve">
<style type="text/css">
                .stadmin0{fill:#404041;}
</style>
<defs>
</defs>
<path class="stadmin0" d="M21.5,15.3l-4-0.6l-1.8-3.6c-0.1-0.3-0.4-0.4-0.6-0.4c-0.2,0-0.5,0.1-0.6,0.4L13,13.9l-1-0.6
                c-0.3-0.2-0.5-0.5-0.5-0.8v-0.2c0-0.3,0.1-0.6,0.4-0.8c1.4-1,2.2-2.6,2.2-4.3v-3c0-1.5-0.7-2.7-1.9-3.4c0,0-1-0.5-1-0.5
                c-0.2-0.1-0.5-0.2-0.7-0.2C10.1,0.1,9.5,0,9,0C8.4,0,7.9,0.1,7.3,0.2C5,0.8,3.7,2.3,3.7,4.4v3c0,1.7,0.8,3.3,2.2,4.3
                c0.2,0.2,0.4,0.5,0.4,0.8v0.2c0,0.3-0.2,0.6-0.5,0.8l-4.9,2.8C0.3,16.5,0,17.1,0,17.8v1.5c0,0.6,0.5,1.1,1.1,1.1H11l-0.5,2.9
                c-0.1,0.4,0.3,0.8,0.7,0.8c0.1,0,0.2,0,0.3-0.1l3.6-1.9l3.6,1.9c0.1,0.1,0.2,0.1,0.3,0.1c0.4,0,0.8-0.4,0.7-0.8l-0.7-4l2.9-2.8
                C22.3,16.1,22.1,15.4,21.5,15.3z M1.1,19.5c-0.1,0-0.2-0.1-0.2-0.2v-1.5c0-0.3,0.2-0.6,0.5-0.8l4.9-2.8c0.6-0.3,0.9-0.9,0.9-1.6
                v-0.2c0-0.6-0.3-1.1-0.8-1.5c-1.2-0.8-1.9-2.2-1.9-3.6v-3c0-2.1,1.6-3,3-3.3C8,0.9,8.5,0.9,9,0.9c0.5,0,1,0.1,1.4,0.2
                c1.1,0.3,3,1.1,3,3.3v3c0,1.4-0.7,2.8-1.9,3.6c-0.5,0.3-0.8,0.9-0.8,1.5v0.2c0,0.6,0.3,1.2,0.9,1.5l1,0.6l0,0l-4,0.6
                c-0.6,0.1-0.8,0.8-0.4,1.2l2.9,2.8l0,0.2H1.1z M18.2,19.1l0.8,4.3l-3.9-2.1l-3.9,2.1l0.5-3.1l0.2-0.9l0.1-0.4L8.7,16l4.4-0.6
                l0.1-0.3l0.4-0.8l1.4-2.9l2,3.9l4.4,0.6L18.2,19.1z"/>
</svg>

              </span>
          </span>
           <span class="col-md-1">
           <span ng-click="umc.purgeUser(fetchPro)" ng-attr-title="Purge User">
             <svg version="1.1"
                x="0px" y="0px" width="22.2px" height="20.7px" viewBox="0 0 22.2 20.7" style="enable-background:new 0 0 22.2 20.7;"
                xml:space="preserve">
<style type="text/css">
                .stpurgeuser0{fill:#404041;}
</style>
<defs>
</defs>
<g>
                <path class="stpurgeuser0" d="M21.8,2.2h-3.2h-2.1V1.2c0-0.6-0.5-1.2-1.2-1.2H6.8C6.1,0,5.6,0.5,5.6,1.2v1.1H3.5h-3C0.2,2.2,0,2.4,0,2.7
                                c0,0.2,0.2,0.4,0.4,0.4H3v15.7c0,1,0.8,1.9,1.9,1.9h12.2c1,0,1.9-0.8,1.9-1.9V3.1h2.8c0.2,0,0.4-0.2,0.4-0.4
                                C22.2,2.4,22,2.2,21.8,2.2z M6.5,1.2c0-0.2,0.1-0.3,0.3-0.3h8.5c0.2,0,0.3,0.1,0.3,0.3v1.1H6.5V1.2z M18.1,18.8c0,0.6-0.5,1-1,1
                                H4.9c-0.6,0-1-0.5-1-1V3.1h2.1H16h2.1V18.8z"/>
                <path class="st0" d="M7.2,6C7,6,6.8,6.2,6.8,6.5v10.2c0,0.2,0.2,0.4,0.4,0.4c0.2,0,0.4-0.2,0.4-0.4V6.5C7.7,6.2,7.5,6,7.2,6z"/>
                <path class="st0" d="M11,6c-0.2,0-0.4,0.2-0.4,0.4v10.2c0,0.2,0.2,0.4,0.4,0.4c0.2,0,0.4-0.2,0.4-0.4V6.5C11.5,6.2,11.3,6,11,6z"/>
                <path class="st0" d="M14.8,6c-0.2,0-0.4,0.2-0.4,0.4v10.2c0,0.2,0.2,0.4,0.4,0.4c0.2,0,0.4-0.2,0.4-0.4V6.5C15.2,6.2,15.1,6,14.8,6
                                z"/>
</g>
</svg>

           </span>
             <!--  <input type="button" name="" ng-click="umc.purgeUser(fetchPro)" value="Purge user"> -->
          </span>

        </div>
        
       </div>
        
        
        </div>
        </div>
    </script>

<!--     <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">
        <div class="col-md-8" style="padding-top: 2%;">
                <div style="font-size: 14px;font-weight: 600;">
                    Permission
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" ng-click="umc.openCreatePermission()" class="btn btn-raised btn-success green-btn-props" style="font-size: 12px;">Create Permission</button>
            </div>
        <div class="col-md-12" style="padding-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
       
        <div class="col-md-4 project-map-list-header">Permission Name</div>
        <div class="col-md-4 project-map-list-header">Description</div>
        
       
        
        </div>
        </div>
            
        
            <form name="pm.projectDetailBar">
        
                <div class="col-md-12 " ng-repeat="per in umc.getAllPermissions">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 projectBar project-map-bar-prop">
                 
                        <div>
        
                     
                            <div class="col-md-4" ng-show="per.editorEnabled" ng-attr-title="{{per.name}}" style="">
                                {{per.name}}
                            </div>
                             <div class="col-md-4" ng-attr-title="{{per.name}}" style="" ng-show="!per.editorEnabled">{{per.name}}</div>
        
                             <div class="col-md-4" ng-show="per.editorEnabled" >
                                <input type="" name="" ng-model="per.description" class="set-width-input">
                            </div>
                            <div class="col-md-4" ng-attr-title="{{per.description}}" style="" ng-show="!per.editorEnabled">{{per.description}}</div> 
        
                           
        
                            <span class="col-md-4" style="padding-left: 43px;">
           
                              <span class="" ng-show="!per.editorEnabled">
                 <img src="assets/images/editNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons"  ng-click="umc.enableEditor(per.id)" title="Edit">
               </span> 
        
               <span ng-click="umc.editpermission(per)" ng-show="per.editorEnabled">
                  <img src="assets/images/savNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons"  title="Save">
               </span> 
                            <span class="">
                 <img src="assets/images/deleteNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deletePermissionModel(per)" title="Delete"> 
               </span></span>
                        </div>
                    </div>
        
                </div>
            </form>
        
        </div>
    </script> -->
</div>