<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <div class="blue-header" style="height: 50px;
      width:100%;background: #1766A4;min-height: 0px !important">
      <!-- <span class="hamburger-ListdashPage project-map-hamburger" style="margin-left: 2.2%;">
         <svg version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px" y="0px" width="15px" height="9px" viewBox="0 0 15 9" style="overflow:scroll;enable-background:new 0 0 15 9;"
            xml:space="preserve">
            <style type="text/css">
               .stham0{fill:#FFFFFF;}
            </style>
            <defs></defs>
            <g>
               <g>
                  <path class="stham0" d="M0,0h15v1.5H0V0z M0,3.8h15v1.5H0V3.8z M0,7.5h15V9H0V7.5z"/>
               </g>
            </g>
         </svg>
      </span> -->
      <span class="edMenu-ListDash-Page project-map-ed" style="margin-left: 1.9%;">
      <img src="assets/images/emu-5w.png" style="height: 30px;
         width: 30px;">
      </span>
      <span class="edtext-ListdashPage project-map-edText">Engineering Metrics Unified</span>
      <span class="edtext-ListdashPage userloggedin-label">{{ctrl.usernamepro}}</span>
      <div class="dropdown-logout sign-out-box-specs">
         <div class="abc">
           <!--  <svg version="1.1"
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/"
               x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" style="overflow:scroll;enable-background:new 0 0 20 20;"
               xml:space="preserve">
               <style type="text/css">
                  .stedprofile0{fill:#FFFFFF;}
               </style>
               <defs></defs>
               <g>
                  <g>
                     <path class="stedprofile0" d="M2.9,2.9C4.9,1,7.2,0,10,0s5.1,1,7.1,2.9S20,7.2,20,10S19,15.1,17,17S12.7,20,10,20S4.9,19,2.9,17
                        S0,12.7,0,10S1,4.9,2.9,2.9z M10,17.2c2.5,0,4.5-1.1,6-3.2c0-0.9-0.7-1.6-2.1-2.2s-2.7-0.9-3.9-0.9s-2.5,0.3-3.9,0.9S4,13.1,4,14
                        C5.5,16.1,7.5,17.2,10,17.2z M12.1,3.9C11.5,3.3,10.8,3,10,3S8.5,3.3,7.9,3.9S7,5.2,7,6s0.3,1.5,0.9,2.1S9.2,9,10,9
                        s1.5-0.3,2.1-0.9S13,6.8,13,6S12.7,4.5,12.1,3.9z"/>
                  </g>
               </g>
            </svg> -->
            <img src="assets/images/Group 131.png" class="log-out-icon-size"></td>
         </div>
         <div class="dropdown-contents" style="right: -36px;">
            <!-- <a href="#/userManagement"  ng-click="ctrl.UserManagement()" style="cursor: pointer;">User Management</a> -->
            <a ng-click="umc.logout()" style="cursor: pointer;">Sign out</a>
         </div>
      </div>
   </div>
<div class="black-header" style="height: 80px;min-height:0px;border-bottom:1px solid #b3b3b3;background-image: url('assets/images/bg_page_header.png');">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-7" style="padding-top: 1%;padding-left: 2%;">
        <div class="" style="font-size: 23px;color: #000;">
             User Management</div>
           <!--  <div class="" style="font-size: 14px;">Choose a Project</div> -->
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
                <button type="submit" ng-click="umc.openCreateRole()" class="btn btn-info project-map-add-btn" style="font-size: 12px;margin-top: 19px;
    margin-left: 53%;">Create role</button>
            </div>
            </div>
         <div class="row">
        <div class="col-md-12">
        <div class="col-md-4" style="padding-left: 3%;">
        
            <div class="" style="font-size: 14px;color: #4482B2"><a href="#/projects" style="color: #4482B2">All projects</a> <img src="assets/images/arrow_right.png" style="vertical-align: sub;"> <a href="#/site" style="color: #4482B2">All dashboards</a></div>
        </div>
        <div class="col-md-6">
          
        </div>
        </div>
    </div>
    </div>
</div>

<div>
    <div id="tabs" style="padding-top: 1%;
    padding-left: 1.8%;">
        <ul class="tab-styling-userManagement">
            <li class="style-forli" ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" style="padding-left: 0px;
    margin-left: 0px;margin-right: 30px;">{{tab.title}}</li>
        </ul>
        <div id="mainView" style="padding-left: 0px;">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">
           
          
        <div class="col-md-12" style="padding-top: 30px;padding-left: 0px;" ng-repeat="fetchPro in umc.getprojectsUsers">
      
        <div class="col-md-6" style="padding-left: 0px;">
        
       <div class="expandcollapse-item panel-group">
        <div class="panel-heading col-md-12" style="cursor: pointer;border: 1px solid #d6d6d6;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}"><span class="col-md-11">{{fetchPro.projectName}}</span>
          <span class="col-md-1"><i class="fa fa-chevron-up" aria-hidden="true" ng-if="active"></i>
          <i class="fa fa-chevron-down" aria-hidden="true"  ng-if="!active"></i></span>
        </div>
         <div class="slideDown" ng-hide="!active" style="border: 1px solid #d6d6d6;
    background: #f5f5f5;">

          <div class="expand-collapse-content panel-body col-md-12" ng-repeat="innerItem in fetchPro.usersGroup" >
            <span class="col-md-10">{{innerItem.user}}</span>
            <span class="col-md-2" ng-if="innerItem.user">
              <img src="assets/images/icon_delete.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteRoleModel(per)" title="Delete">
              <img src="assets/images/icon_edit.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.editUserPopUp(fetchPro,innerItem.user,fetchPro.id,fetchPro.projectId)" title="Edit" > 
            </span>
            <span>
               
            </span>
          </div>
        </div>
       </div>
        
        
        </div>
        </div>
        
        </div>
    </script>
    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <div class="col-md-8" style="padding-top: 2%;">
               <!--  <div style="font-size: 14px;font-weight: 600;">
                    Roles
                </div> -->
            </div>
           
          <!--    <div class="col-md-12" style="padding-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-6">
        <div class="col-md-3 project-map-list-header">Role Name</div>
        <div class="col-md-3 project-map-list-header">Created By</div>
        <div class="col-md-3 project-map-list-header">Permissions</div>
        
        
        </div>
        </div> -->
          <!--   <form name="umc.projectDetailBar">
        
                <div class="col-md-12 " ng-repeat="per in umc.getRoles">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 projectBar project-map-bar-prop">
                    
                        <div>
        
                            <div class="col-md-3" ng-attr-title="{{per.roleKey}}" style="">{{per.roleKey}}</div>
        
                            <div class="col-md-3" ng-attr-title="{{per.createdOn}}" style="">{{per.description}}</div>

                             <div class="col-md-4" ng-attr-title="{{per.permissions}}" style="" >{{per.permissions | json}}</div>

                              <span class="" >
                 <img src="assets/images/deleteNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteRoleModel(per)" title="Delete"> 
               </span></span> 
                        </div>
                    </div>
        
                </div>
            </form> -->
            <table class="table table-bordered table-striped" style="width: 99.5%;">
            <thead>
              <tr>
                <th>Role Name</th>
                 <th>Created By</th>
                  <th>Permissions</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="per in umc.getRoles">
              <td>{{per.roleKey}}</td>
               <td>{{per.description}}</td>
               <!--  <td><div ng-repeat="(key, value) in umc.permissions">{{value}}</div></td> -->
                  <td><div ng-repeat="(key, value) in per.permission">{{value}}</div>
                  <div ng-repeat="(key, value) in per.permissions" ng-show="umc.showmorelink" ng-hide="umc.showlesslink">{{value}}</div>
                  <span ng-click="umc.showMoreFlag()" ng-if="umc.onclickmore" style="font-size: 12px;color: #4482B2;cursor: pointer;">Show all</span>

                   <span ng-click="umc.showLessFlag()" ng-if="umc.onclickless" style="font-size: 12px;color: #4482B2;cursor: pointer;">Show less</span>

                  </td>
                 
                <td> <img src="assets/images/icon_delete.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deleteRoleModel(per)" title="Delete">
                <img src="assets/images/icon_edit.png" class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.editRoleModel(per.roleKey,per)" title="Edit" > 
                </td>
               
              <tr>
            </tbody>
              
            </table>
        
        </div>
    </script>
<!--     <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">
        <div class="col-md-8" style="padding-top: 2%;">
                <div style="font-size: 14px;font-weight: 600;">
                    Permission
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" ng-click="umc.openCreatePermission()" class="btn btn-raised btn-success green-btn-props" style="font-size: 12px;">Create Permission</button>
            </div>
        <div class="col-md-12" style="padding-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
       
        <div class="col-md-4 project-map-list-header">Permission Name</div>
        <div class="col-md-4 project-map-list-header">Description</div>
        
       
        
        </div>
        </div>
            
        
            <form name="pm.projectDetailBar">
        
                <div class="col-md-12 " ng-repeat="per in umc.getAllPermissions">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 projectBar project-map-bar-prop">
                 
                        <div>
        
                     
                            <div class="col-md-4" ng-show="per.editorEnabled" ng-attr-title="{{per.name}}" style="">
                                {{per.name}}
                            </div>
                             <div class="col-md-4" ng-attr-title="{{per.name}}" style="" ng-show="!per.editorEnabled">{{per.name}}</div>
        
                             <div class="col-md-4" ng-show="per.editorEnabled" >
                                <input type="" name="" ng-model="per.description" class="set-width-input">
                            </div>
                            <div class="col-md-4" ng-attr-title="{{per.description}}" style="" ng-show="!per.editorEnabled">{{per.description}}</div> 
        
                           
        
                            <span class="col-md-4" style="padding-left: 43px;">
           
                              <span class="" ng-show="!per.editorEnabled">
                 <img src="assets/images/editNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons"  ng-click="umc.enableEditor(per.id)" title="Edit">
               </span> 
        
               <span ng-click="umc.editpermission(per)" ng-show="per.editorEnabled">
                  <img src="assets/images/savNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons"  title="Save">
               </span> 
                            <span class="">
                 <img src="assets/images/deleteNew.png " class="ed-image-props project-map-crud-icons project-map-padding-icons" ng-click="umc.deletePermissionModel(per)" title="Delete"> 
               </span></span>
                        </div>
                    </div>
        
                </div>
            </form>
        
        </div>
    </script> -->
</div>