<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="alert alert-info">{{alert.msg}}</alert>
<div class="">
    <div class="widget row" ng-class="{'configure' : state == widget_state.CONFIGURE}" style="padding:0px;">
    
        <div class="kanban-widget-heading" ng-if="header" ng-hide=" {{(title == 'Monitor')}}" style="">
            <span style="font-size:20px;font-weight: 300;">
            <span ng-show=" {{(title == 'Feature')}}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/" x="0px" y="0px" width="5.1px" height="16px" viewBox="0 0 5.1 16" xml:space="preserve" class="dashboard-purple-block"><style type="text/css">.stheadb0 {
        fill: #605587;
    }</style><rect class="stheadb0" width="5.1" height="16"></rect></svg>
            AGILE BOARD</span>
            <span ng-show=" {{(title == 'Build')}}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/" x="0px" y="0px" width="5.1px" height="16px" viewBox="0 0 5.1 16" xml:space="preserve" class="dashboard-purple-block"><style type="text/css">.stheadb0 {
        fill: #605587;
    }</style><rect class="stheadb0" width="5.1" height="16"></rect></svg>
            BUILD<span style="color:#d6d6d6">|</span></span>
            <span ng-show=" {{(title == 'Code Repo')}}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/" x="0px" y="0px" width="5.1px" height="16px" viewBox="0 0 5.1 16" xml:space="preserve" class="dashboard-purple-block"><style type="text/css">.stheadb0 {
        fill: #605587;
    }</style><rect class="stheadb0" width="5.1" height="16"></rect></svg>
            CODE REPOSITORY</span>
            <span ng-show=" {{(title == 'Quality')}}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/" x="0px" y="0px" width="5.1px" height="16px" viewBox="0 0 5.1 16" xml:space="preserve" class="dashboard-purple-block"><style type="text/css">.stheadb0 {
        fill: #605587;
    }</style><rect class="stheadb0" width="5.1" height="16"></rect></svg>
            CODE QUALITY<span style="color:#d6d6d6">|</span></span>
            </span>
            <span ng-show=" {{(title == 'Build')}}" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY">
                  <!--   <select ng-model="selectedName" ng-options="selectedName.description for selectedName in collectorDetails" ng-change="check(selectedName)" style="color: #000;">

                    </select> -->
    <select ng-model="selectedName" ng-change="check(selectedName)" class="widget-page-dropdownprops" ng-if="collectorDetails">
    
                         <option ng-repeat="eachSelectedName in collectorDetails" value="{{eachSelectedName.id}}">{{eachSelectedName.description}}</option>
                        </select>

           </span>

            <span ng-show=" {{(title == 'Quality')}}" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY">
                <!-- <select ng-model="selectedNameSonar" ng-options="selectedNameSonar.description for selectedNameSonar in collectorDetailsSonar" ng-change="checkSonar(selectedNameSonar)" style="color: #000;">
                </select> -->
               
                <select ng-model="selectedNameSonar" ng-change="checkSonar(selectedNameSonar)" class="widget-page-dropdownprops" ng-if="collectorDetailsSonar">
                         <option ng-repeat="eachselectedNameSonar in collectorDetailsSonar" value={{eachselectedNameSonar.id}}>{{eachselectedNameSonar.description}}</option>
                        </select>

           </span>

        </div>

        <div class="widget-body">
            <div class="widget-body-main">
                <!-- widget content -->
            </div>
            <div class="widget-body-config clickable" ng-click="checkPermission()" style="background:#9AD2FF;border: 2px solid #66ccff;border-radius:3px;">
                <div ng-show="configureProject">
                    <div class="">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://www.happiestminds.com/" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" style="overflow:scroll;enable-background:new 0 0 30 30;" xml:space="preserve">
                            <style type="text/css">
                                .stedaddwid0 {
                                    fill: #FFFFFF;
                                }
                            </style>
                            <defs></defs>
                            <g>
                                <path class="stedaddwid0" d="M4.4,4.4C7.3,1.5,10.9,0,15,0c4.1,0,7.7,1.5,10.6,4.4C28.5,7.3,30,10.9,30,15c0,4.1-1.5,7.7-4.4,10.6
                                    C22.6,28.5,19.1,30,15,30c-4.1,0-7.7-1.5-10.6-4.4C1.5,22.6,0,19.1,0,15C0,10.9,1.5,7.3,4.4,4.4z M6.5,23.4C8.9,25.8,11.7,27,15,27
                                    c3.3,0,6.1-1.2,8.5-3.6c2.4-2.4,3.6-5.2,3.6-8.5c0-3.3-1.2-6.1-3.6-8.5C21.1,4.1,18.3,3,15,3c-3.3,0-6.1,1.2-8.5,3.6
                                    C4.1,8.9,3,11.7,3,15C3,18.3,4.1,21.1,6.5,23.4z M16.5,7.5v6h6v3h-6v6h-3v-6h-6v-3h6v-6H16.5z" />
                            </g>
                        </svg>
                    </div>
                    <div style="color:#fff;">Configure
                        <br/>widget</div>

                </div>
                <div style="color:#fff;" ng-show="!configureProject">To be configured</div>
            </div>
        </div>
        <div class="col-md-12 widget-page-footer">
            <div class="col-md-2">
                <span class="last-updated widget-page-last-updated">
            {{lastUpdatedDisplay}}
            </span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2" style="color: #000;text-shadow: none;padding-left: 14%;" ng-if="editProjectflag" ng-show=" {{(title == 'Feature')}}">

                <span class="widget-settings-icon clickable" type="button" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY" ng-click="checkPermission()">
                     <img src="assets/images/icon_settings.png" class="widget-page-settings-icon">
                </span>
            </div>

            <div class="col-md-1 widget-page-build-code-repo" ng-if="editProjectflag" ng-show=" {{(title == 'Build')}}">
                <span class="widget-settings-icon clickable" type="button" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY" ng-click="checkPermission()" style="
               float: right;">
                   <img src="assets/images/icon_settings.png" class="widget-page-settings-icon">
               </span></div>

            <div class="col-md-1 widget-page-build-code-repo" ng-if="editProjectflag" ng-show=" {{(title == 'Code Repo')}}">
                <span class="widget-settings-icon clickable" type="button" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY" ng-click="checkPermission()">
                     <img src="assets/images/icon_settings.png" class="widget-page-settings-icon">
                </span>
            </div>
            <div class="col-md-2" style="color: #000;text-shadow: none;padding-left: 31%;" ng-if="editProjectflag" ng-show=" {{(title == 'Quality')}}">
                <span class="widget-settings-icon clickable" type="button" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY" ng-click="checkPermission()">
                      <img src="assets/images/icon_settings.png" class="widget-page-settings-icon">
                 </span>
            </div>

            <div class="col-md-4" ng-show="{{(title == 'Feature')}}" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY && editProjectflag">
                <span style="padding-left: 5px;" class="widget-page-seperator"> | </span>

                <span>
            <a href="#/jiraDashboard" target="_self" > 
            <span class="report-link pull-right widget-page-moredetails">MORE DETAILS <img src="assets/images/arrow_right.png" class="widget-page-arrow"></span>
                </a>
                </span>
            </div>

              <div class="col-md-4" ng-show="{{(title == 'Feature')}}" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY && !editProjectflag" style="float: right;">
                <span style="padding-left: 5px;" class="widget-page-seperator"> | </span>

                <span>
            <a href="#/jiraDashboard" target="_self" > 
            <span class="report-link pull-right widget-page-moredetails">MORE DETAILS <img src="assets/images/arrow_right.png" class="widget-page-arrow"></span>
                </a>
                </span>
            </div>








            <div class="col-md-2" ng-show="{{(title == 'Quality')}}" ng-if="widgetDefinition && widgetDefinition.config && state == widget_state.READY" style="float: right;">
                <span style="padding-left: 0px;" class="widget-page-seperator"> | </span>

                <span>
            <a href="#/detailedview/{{caWidget.dashBoardId}}" target="_self" > 
            <span class="report-link pull-right widget-page-moredetails">MORE DETAILS <img src="assets/images/arrow_right.png" class="widget-page-arrow"></span>
                </a>
                </span>
            </div>

        </div>
    </div>