<div ng-controller="CapOneTemplateController as template">
   <div class="container-fluid top-blue-header">
      <div class="row top-header-padding">
         <div class="col-md-1 top-header-image"><img src="assets/images/emu-5w.png"></div>
         <div class="col-md-3 top-header-emu-text">Engineering Metrics Unified</div>
         <div class="col-md-6"></div>
         <div class="col-md-1 top-header-username">{{template.usernamepro}}</div>
         <div class="col-md-1 top-header-logout">
            <div class="dropdown-logout sign-out-box-specs">
               <div class="abc">
                  <img src="assets/images/Group 131.png" class="log-out-icon-size"></td>
               </div>
               <div class="dropdown-contents" style="right: -6px;">
                  <a href="#/userManagement"  ng-click="template.UserManagement()" ng-if="template.usermanagementviews">User Management</a>
                  <a ng-click="template.logout()">Sign out</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="gradient-header" style="background-image: url('assets/images/bg_page_header.png');">
      <div class="row">
         <div class="col-md-12">
            <div class="col-md-4 gradient-header-padding">
               <div class="gradient-header-project-name">
                  {{::ctrl.dashboard.title}}
               </div>
               <div class="gradient-header-project-link"><a href="#/projects" class="gradient-header-project-link-color">All projects</a>
                  <img src="assets/images/arrow_right.png" style="vertical-align: sub;"> <a href="#/site" class="gradient-header-project-link-color">All dashboards</a>
               </div>
               </div>
            <div class="col-md-6"></div>
           </div>
      </div>
   </div>
   <div class="dashboard-widgets container-fluid capone-widgets" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Widget'">
      <!-- <div class="col-md-3">
         <div class="row">
            <div class="col-sm-6 col-md-12">
               <widget name="Monitor"></widget>
            </div>
            <div class="col-sm-6 col-md-12">
               <widget name="deploy"></widget>
            </div>
         </div>
         </div> -->
      <div class="col-md-12 capone-top-widgets">
         <div class="col-md-4">
            <widget name="feature"></widget>
         </div>
         <div class="col-md-8 capone-build-widget">
            <widget name="build"></widget>
         </div>
      </div>
      <div class="col-md-12 capone-bottom-widgets">
         <div class="col-md-4">
            <widget name="repo"></widget>
         </div>
         <div class="col-md-8 capone-code-analysis">
            <widget name="codeanalysis"></widget>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Pipeline'">
   <div class="row">
      <div class="col-xs-12">
         <widget name="pipeline" widget-title="Delivery Pipeline"></widget>
      </div>
   </div>
</div>
<div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Cloud'">
   <div class="row">
      <div class="col-xs-12">
         <widget name="cloud" widget-title="Cloud"></widget>
      </div>
   </div>
</div>
</div>