@import (reference) 'variables';
@import (reference) 'mixins';

//header styles for both list dashboard and dashboard page

.colorLoginHeader{ 
    background: -webkit-linear-gradient(right,#24394C, #7ABEF8 ) !important;   
    background: -o-linear-gradient(left, #24394C, #7ABEF8 ) !important; 
    background: -moz-linear-gradient(left, #24394C, #7ABEF8 ) !important; 
    background: linear-gradient(to left, #24394C, #7ABEF8 ) !important;
    height:35px;
}
.hamburgerMenu{
	float:left;
	margin-left:1%;
	margin-top:-10px;
}
.edLoginMenu{
	float:left;
	margin-top:-4px;
	margin-left:2.1%;
}
.engdashboardHeading{
	float:left;
	color:#fff;
	font-size:13px;
	margin-left:0.5%;
	margin-top:-6px;
}
.signoutMenu{
	float:right;
	margin-right:10px;
	margin-top:-6px;
}
.viewDashMenu{
	float:right;
	margin-right:10px;
}
.navigatorToListDashboard{
	border:1px solid #1C1C1C;
	background:#1C1C1C;
	height:30px;
	margin-top:-16px;
}
.navigatorToListLink{
	float:left;
	margin-top:-13px;
	margin-left:-7px;
}
.headerContainer{
	background:#EBF9FF;
	box-shadow: 0px 0px 6px #888888;
    border-radius: 3px;
    border-bottom: 1px solid #66ccff;
}
.dashboardNameLabel{
	float:left;
	color:#0071BC;
	font-size:17px;
}
.hamburger-ListdashPage{
	float:left;
	margin-left:1%;
	margin-top:-10px;
}
.edMenu-ListDash-Page{
	float:left;
	margin-top:-4px;
	margin-left:2.1%;
}
.edtext-ListdashPage{
	float:left;
	color:#fff;
	font-size:13px;
	margin-left:0.5%;
	margin-top:-6px;
}
.signout-ListdashPage{
	float:right;
	margin-right:-60px !important;
	cursor:pointer;
	margin-top:-5px !important; 
	
}
.addDash-ListdashPage{
	float:right;
	margin-right:-50px;
	margin-top:-5px;
}
.blackBox-ListdashPage{
	border:1px solid #1C1C1C;
	background:#1C1C1C;
	height:30px;
	margin-top:-58px;
}
.customHeader .widget-modal-heading{
	background: -webkit-linear-gradient(right,white, #E5682B) !important;
    background: -o-linear-gradient(left, #005C98, #1C9AD6) !important; 
    background: -moz-linear-gradient(left, #005C98, #1C9AD6) !important; 
    background: linear-gradient(to left, #005C98, #1C9AD6) !important;
    border-bottom:none !important;
    color:#fff !important;
    font-weight:200;
}
.tab-list{
	color:#fff;
	margin-top:-10px;
	font-size:12px;
}
#dashboard{
	background-image:none !important;
	background:linear-gradient(to left, #FBFDFE, #A0C4E3) !important;
}
