@import (reference) 'variables';
@import (reference) 'mixins';



.detailed-view-page {
     background-image: url("../assets/images/grey.jpg");   
    .layout-maindiv {
        padding-left: 0px;
        .styling-values {
            font-size: 29px;
            font-weight:400;
            color:#000;
        }
        .layout-calcs {
            padding: 4px;
            width: 32%;
            margin-left: 1.3%;
            height:114px;
            .circle-props {
            width: 27px;
            height: 27px;
            border-radius: 50px;
            background: #D7061A;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            padding: 1px 9px;
            }
             .circle-props-green {
            width: 27px;
            height: 27px;
            border-radius: 50px;
            background: #00AA00;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            padding: 1px 9px;
            }
             .circle-props-yellow {
            width: 27px;
            height: 27px;
            border-radius: 50px;
            background: #FFFF00;
            color: #000;
            font-size: 18px;
            font-weight: 400;
            padding: 1px 9px;
            }
            .widget-headers{
            	font-size:16px;
            	color:#0071BC;
                padding-left:18px;
                font-weight: 600;
                opacity: 0.8;
            }
            .label-props{
            	font-size:12px;
            }
            .widget-inner-spacing{
            	padding-top:4px;
            		
            }
            .widget-value-pro{
            			font-size:25px;
            			font-weight:400;
            			color:#00aff0;
            		}
            .widget-value-pro-small{
                        font-size:15px;
                        font-weight:400;
                        color:#00aff0;
                    }
        }
    }
}

