@import (reference) 'variables';
@import (reference) 'mixins';



.detailed-view-page {
    background: #EBF9FF;
    .layout-maindiv {
        padding-left: 0px;
        .styling-values {
            font-size: 29px;
            font-weight:400;
            color:#000;
        }
        .layout-calcs {
            padding: 4px;
            width: 32%;
            margin-left: 1.3%;
            height:114px;
            .circle-props {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: #D7061A;
                color: #fff;
                font-size: 24px;
            	font-weight:400;
                padding: 3px 10px 3px 10px;
            }
             .circle-props-green {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: #00AA00;
                color: #fff;
                font-size: 24px;
                font-weight:400;
                padding: 3px 10px 3px 10px;
            }
             .circle-props-yellow {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: #FFFF00;
                color: #000;
                font-size: 24px;
                font-weight:400;
                padding: 3px 10px 3px 10px;
            }
            .widget-headers{
            	font-size:16px;
            	color:#0071BC;
                padding-left:18px;
            }
            .label-props{
            	font-size:12px;
            }
            .widget-inner-spacing{
            	padding-top:4px;
            		
            }
            .widget-value-pro{
            			font-size:29px;
            			font-weight:400;
            			color:#0465A1;
            		}
            .widget-value-pro-small{
                        font-size:15px;
                        font-weight:400;
                        color:#0465A1;
                    }
        }
    }
}

