@import (reference) 'variables';
@import (reference) 'mixins';
.signup-page {
    background: -webkit-linear-gradient(right, #FBFDFE, #A0C4E3) !important;
    background: -o-linear-gradient(left, #FBFDFE, #A0C4E3) !important;
    background: -moz-linear-gradient(left, #FBFDFE, #A0C4E3) !important;
    background: linear-gradient(to left, #FBFDFE, #A0C4E3) !important;
    .auth-modal-body {
        .sign-up-div {
            .sign-up-btn {
                width: 100%;
                border-radius: 1px;
                background: -webkit-linear-gradient(right, #E8B564, #EF7327);
                background: -o-linear-gradient(left, #E8B564, #EF7327);
                background: -moz-linear-gradient(left, #E8B564, #EF7327);
                background: linear-gradient(to left, #E8B564, #EF7327);
                 border:none;
            }
        }
    }
}
