/* markup specific to site.html view */
@import 'mixins';
@import '../../../bower_components/bootstrap/less/variables.less';
@import 'dashboardCSS';
@import 'login-custom';
@import 'signup-custom';
@import 'detailedView';
@import 'projectmapp';

 
#site {
    #filter {
        margin-bottom: 1rem;
    }

    .lstDashboards {
        .animate-appear();
    }

    .dashboard-type-list {
        width: 100%;

        .btn {
            width: 33.333%;
            text-overflow: ellipsis;
            overflow: hidden;
            .transition(~"color .2s linear, background-color .2s linear");
        }
    }

    .create-dashboard-button {
        margin-bottom: 2.5em;
    }
}

@media(min-width: @screen-sm-min) {
    .create-dashboard-button {
        margin-top: 2.5em;
        margin-bottom: 0;
    }
}




//Custom CSS//
#demo {
        margin: 30px 0 50px 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    #demo .wrapper {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        height: 20px;
        position: relative;
    }
    
  
    
    #demo .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
    #demo .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 127px;
        padding-top: 40px;
        padding-left:23px;
       
    }
    
    #demo .wrapper:active .content {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #demo .content:hover {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
    #demo .content ul {
        background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 37%;
    border-radius: 2px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #demo .content ul a {
        text-decoration: none;
    }
    
    #demo .content li:hover {
        background: #eee;
        color: #333;
    }
    
    #demo .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
    #demo .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

